<dom-module id="inbox-preview">
    <style>
    </style>
    <template>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="header"></div>
                    <div class="body">
                        <ul class="list-group elements-list">
                            <template is="dom-repeat" items="{{messageList}}" as="message">
                                <li class="list-group-item">
                                    <a href="{{messageUrl(message.id)}}">
                                        <small class="pull-right text-muted">{{message.date}}</small>
                                        <strong>{{message.from}}</strong>
                                    </a>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "inbox-preview",
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                return function() {
                }
            },
            properties: {
                messageList: {
                    type: Array,
                    notify: true
                }
            },
            messageUrl: function(id) {
                return "/#/components-inbox-message-view/id:" + id;
            }
            
        });
    </script>
</dom-module>