<link rel="import" href="message-info.html">
<link rel="import" href="../inbox-body.html">
<link rel="import" href="../inbox-header.html">
<link rel="import" href="../../event/hub.html">
<link rel="import" href="../../services/http/request.html">
<dom-module id="message-view">
    <template>
        <div class="wrapper wrapper-content">
            <message-info message-info="[[message]]"></message-info>
        </div>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "message-view",
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },
            init: function() {
                var self = this;
                
                return function() {
                    self.$.http.get('/:id', window.config.services.inbox, function(data) {
                        self.message = data;
                        self.$.hub.publish('readMessages:change');
                    });
                }
            }
        });
    </script>
</dom-module>