<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/ui-elements/list-pagination.html">
<link rel="import" href="/components/ui-elements/censor-ssn.html">
<link rel="import" href="/components/services/format.html">
<dom-module id="customer-info">
    <style>
        .dl-horizontal dt {
            margin-right: 20px;
            width: 100px;
            text-align: left;
        }
        .dl-horizontal dd {
            margin-left: 0;
        }
        dl {
            margin-bottom: 0;
        }
        .borrower-row {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .borrower-row:not(:last-of-type) {
            border-bottom: 1px lightgray solid;
        }
        .col-xs-4, .col-xs-3 {
            min-height: 180px;
        }
        .btn-sm {
            margin-left: 15px
        }
        .selected-items {
            margin: 0 auto;
            width: 50%;
            display: inline-block;
            text-align: center;
            position: relative;
            bottom: 5px;
        }
        .pagination-custom {
            bottom: 0;
            position: absolute;
        }
        .fa {
            -webkit-user-select: none; /* Chrome/Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+ */
        }
        .email {
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .email:hover:before {
            top: 65px;
            background: #333;
            background: rgba(0,0,0,.8);
            border-radius: 5px;
            color: #fff;
            content: attr(name);
            padding: 5px 15px;
            position: absolute;
            z-index: 98;
            width: 220px;
        }
        .no-ellipse.email:hover:before {
            display: none;
        }
    </style>
    <template>
        <template id="borrowerList" is="dom-repeat" items="{{borrowerList}}" as="borrower">
            <div class="borrower-row">
                <div class="col-xs-4">
                    <dl class="dl-horizontal">
                        <dt>First Name</dt><dd>{{borrower.firstName}}</dd>
                        <dt>Last Name</dt><dd>{{borrower.lastName}}</dd>
                        <dt>Middle Initial</dt><dd>{{borrower.middleInitial}}</dd>
                        <dt>Date of Birth</dt><dd>{{formatDate(borrower.dateOfBirth)}}</dd>
                        <dt>SSN</dt><dd><censor-ssn full-ssn="{{borrower.ssn}}"></censor-ssn></dd>
                        <dt>E-mail</dt><dd class="email" name="{{borrower.email}}">{{borrower.email}}</dd>
                    </dl>
                </div>
                <div class="col-xs-3">
                    <template is="dom-repeat" items="{{borrower.addresses}}" as="address">
                        <dl hidden$="{{!selectedAddress(address, borrower.addresses, borrower.addresses._selectedAddress)}}" class="dl-horizontal">
                            <h4 hidden$="{{!address.isPrimary}}">Primary Address</h4>
                            <h4 hidden$="{{address.isPrimary}}">Address</h4>
                            <dd>{{address.line1}}</dd>
                            <dd>{{address.line2}}</dd>
                            <dd>{{address.city}}</dd>
                            <dd>{{address.state}}</dd>
                            <dd>{{address.zipCode}}</dd>
                        </dl>
                    </template>
                    <div class="pagination-custom">
                        <list-pagination list-items="{{borrower.addresses}}"
                        selected-item="{{borrower.addresses._selectedAddress}}"></list-pagination>
                    </div>
                </div>
                <div class="col-xs-3">
                    <template is="dom-repeat" items="{{borrower.phones}}" as="phone">
                        <dl hidden$="{{!selectedPhone(phone, borrower.phones, borrower.phones._selectedPhone)}}">
                            <h4 hidden$="{{!phone.isPrimary}}">Primary Phone Number</h4>
                            <h4 hidden$="{{phone.isPrimary}}">Phone Number</h4>
                            <dd>{{capitalize(phone.type)}}</dd>
                            <dd>{{formatPhone(phone.number)}}</dd>
                        </dl>
                    </template>
                    <div class="pagination-custom">
                        <list-pagination list-items="{{borrower.phones}}"
                        selected-item="{{borrower.phones._selectedPhone}}"></list-pagination>
                    </div>
                </div>
                <!--<div class="btn btn-primary btn-sm" on-click="modifyCustomerInfo">Modify</div>-->
                <div class="btn btn-primary btn-sm" on-click="dynamoLoad">Modify</div>
            </div>
        </template>
        <alloy-format id="format"></alloy-format>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "customer-info",

            attached : function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            observers: [
                "init(borrowerList)"
            ],
            init : function() {
                var self = this;
                if (self.borrowerList) {
                    for (var i = 0; i < self.borrowerList.length; i++) {
                        var borrower = self.borrowerList[i];
                        borrower.addresses._selectedAddress = 0;
                        borrower.phones._selectedPhone = 0; 
                        borrower.addresses = self.sortByPrimary(borrower.addresses);
                        borrower.phones = self.sortByPrimary(borrower.phones);
                    }
                }
                self.async(function() {
                    $(self.$$(".email")).each(function() {
                        var $this = $(this);
                        $this.on("mouseenter", function() {
                            var $this = $(this);
                            if (this.offsetWidth < this.scrollWidth) {
                                $this.removeClass("no-ellipse");
                                var text = this.innerHTML;
                                $this.attr("name", text);
                            } else {
                                $this.addClass("no-ellipse");
                            }
                        })
                    })
                })
                return function() {}
            },
            properties : {
                borrowerList: {
                    type: Array
                }
            },
            modifyCustomerInfo : function(e) {
                var borrower = e.model.borrower;
                this.$.hub.publish("activity:select",
                    {
                        activity: "modify-customer-info",
                        data: borrower
                    });
            },
            currentItemNumber : function(item) {
                return item + 1;
            },
            sortByPrimary : function(list) {
                var result = [];
                var firstItem;
                for (var i = 0; i < list.length; i++) {
                    var listItem = list[i];
                    if (listItem.isPrimary) {
                        firstItem = listItem;
                    } else {
                        result.push(listItem);
                    }
                }
                
                result.unshift(firstItem);
                var selected = Object.keys(list)[list.length];
                result[selected] = list[selected];
                return result;
            },
            selectedAddress : function(item, collection) {
                return collection.indexOf(item) === collection._selectedAddress;
            },
            selectedPhone : function(item, collection) {
                return collection.indexOf(item) === collection._selectedPhone;
            },
            previousAddress : function(e) {
                var selectedAddress = e.model.borrower.addresses._selectedAddress; 
                if (selectedAddress === 0) { return }
                e.model.set('borrower.addresses._selectedAddress', selectedAddress - 1);
            },
            nextAddress : function(e) {
                var selectedAddress = e.model.borrower.addresses._selectedAddress;
                if (selectedAddress === e.model.borrower.addresses.length - 1) { return }
                e.model.set('borrower.addresses._selectedAddress', selectedAddress + 1);
            },
            previousPhone : function(e) {
                var selectedPhone = e.model.borrower.phones._selectedPhone; 
                if (selectedPhone === 0) { return }
                e.model.set('borrower.phones._selectedPhone', selectedPhone - 1);
            },
            nextPhone : function(e) {
                var selectedPhone = e.model.borrower.phones._selectedPhone; 
                if (selectedPhone === e.model.borrower.phones.length - 1) { return }
                e.model.set('borrower.phones._selectedPhone', selectedPhone + 1);
            },
            capitalize : function(string) {
                if (typeof string !== "string") { return }
                return string.slice(0, 1).toUpperCase() + string.slice(1);
            },
            formatPhone: function(phone) {
                var phone = phone.replace(/ /g, "");
                return "(" + phone.slice(0, 3) + ") " + phone.slice(3, 6) + "-" + phone.slice(-4);
            },
            formatDate: function(date) {
                return this.$.format.formatDate(date);
            },
            dynamoLoad: function(e) {
                var borrower = e.model.borrower;
                this.$.hub.publish("activity:dynamo",
                {
                    path: "components/loan/activities/",
                    activity: "modify-customer-info",
                    title: "Modify Borrower Information",
                    properties: borrower
                });
            }
        })
    </script>
</dom-module>