<link rel="import" href="/components/event/hub.html">
<style>
    .sidebar-content .wrapper {
        padding: 20px;
        padding-right: 20px !important;
    }
    
    .btn-group {
        margin: 0;
    }
</style>
<dom-module id="loan-fees">
    <template>
        <div class="wrapper">
            <div class="header clearfix">
                                <form role="form" class="form-inline pull-right">
                    <div class="input-group">
                        <input type="text" id="payment-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </form>
                <button class="btn btn-primary btn-sm pull-left" on-tap="addFee">Add Fee</button> 
            </div> 
            <!--HEADER END-->
            <div class="well" hidden$="{{ !isEmpty(fees) }}">
                No fees found for the current loan
            </div>
            <table id="fees-table" class="table table-hover issue-tracker" width="100%" hidden$="{{ isEmpty(fees) }}">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
    <tbody>
        <template is="dom-repeat" items="{{ table.data }}" filter="{{ tableFilter(searchTerm) }}">
            <tr>
                <td>{{ formatDate(item.addedOn) }}</td>
                <td>{{ item.code }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.amount }}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-xs pull-left" on-tap="modifyFee">
                        <i class="fa fa-edit visible-xs"></i><span class="hidden-xs"> Modify</span>
                        </button> <button class="btn btn-default btn-xs pull-left" on-tap="cancelFee">
                        <i class="fa fa-remove visible-xs"></i><span class="hidden-xs"> Cancel</span>
                        </button>
                    </div>

                </td>
            </tr>
        </template>
    </tbody>
    </table>

    </div>
    <event-hub id="hub">
        <event-subscription event="tabs:reset" on-handle="onTabReset"></event-subscription>
    </event-hub>
    <http-request id="http"></http-request>

    </template>
    <script>
        Polymer({
            is: "loan-fees",
            observers: ["fetchLoanFees(currentLoan.referenceNumber)"],
            properties: {
                currentLoan: Object,
                searchTerm: {
                    value: ""
                },
                fees: {
                    value: function() {
                        return [];
                    }
                },
                table: {
                    value: function() {
                        return {
                            data: [],
                            columns: [
                                "Date",
                                "Code",
                                "Description",
                                "Amount",
                                "Notes"
                            ]
                        };
                    }
                },
                tableFilter: {
                    value: function() {
                        return function(searchTerm) {
                            return function(item) {
                                if (!item) {
                                    return false;
                                }

                                searchTerm = searchTerm.replace(/\s/g, "");

                                if (typeof searchTerm === "undefined" || searchTerm === "") {
                                    return true;
                                }

                                return Object.keys(item).map(function(key) {
                                    return item[key]
                                }).join("").toLowerCase().includes(searchTerm.toLowerCase());
                            }
                        }
                    }
                }
            },
            attached: function() {
                this.fetchFeeCodes();
            },
            formatDate: function(date) {
                return moment(date).format("MM-DD-YYYY");
            },
            computeFeeDescription: function(code) {
                return this.feeCodesByCode[code];
            },
            computeFeeCode: function(description) {
                if (!description) {
                    return ""
                }

                var found = this.feeCodes.filter(function(feeCode) {
                    return feeCode.description.toLowerCase() === description.toLowerCase();
                });

                if (found.length > 0) {
                    return found[0].code
                } else {
                    return ""
                }
            },
            fetchFeeCodes: function() {
                var self = this;
                return this.$.http.get(
                    "/loan-fees",
                    window.config.services.configuration,
                    function success(loanFees) {
                        self.set("feeCodesByCode", loanFees.codes);

                        var feeCodesByDescription = {};
                        Object.keys(loanFees.codes).forEach(function(code) {
                            var description = loanFees.codes[code];
                            feeCodesByDescription[description] = code;
                        });

                        self.set("feeCodesByDescription", feeCodesByDescription);

                        var feeCodesAsArray = Object.keys(loanFees.codes).map(function(code) {
                            return {
                                description: loanFees.codes[code],
                                code: code
                            };
                        });
                        self.set("feeCodes", feeCodesAsArray);
                    });
            },
            onTabReset: function(e) {
                if (this.currentLoan && this.currentLoan.referenceNumber) {
                    this.fetchLoanFees(this.currentLoan.referenceNumber);
                }
            },
            fetchLoanFees: function(loanReferenceNumber) {
                if (!loanReferenceNumber || typeof loanReferenceNumber !== "string") {
                    // require string type because sometimes loanReferenceNumber is an event object of unknown source
                    return
                }

                var self = this;
                var url = "/" + loanReferenceNumber + "/all";
                var baseUrl = window.config.services.loanFees;

                self.$.http.get(
                    url, baseUrl,
                    function success(fees) {
                        self.set("fees", fees)
                        self.buildTableData(fees);
                    },
                    function failure(error) {
                        self.set("fees", []);
                    });
            },
            buildTableData: function(fees) {
                var tableData = fees.map(function(fee) {
                    fee.description = this.computeFeeDescription(fee.code);
                    return fee;
                }, this);

                this.set("table.data", tableData);
            },
            addFee: function() {
                var self = this;

                self.$.hub.publish("activity:dynamo", {
                    activity: "add-fee",
                    title: "Add Fee",
                    properties: {
                        loanReferenceNumber: self.currentLoan.referenceNumber,
                        feeCodes: self.feeCodes,
                        feeCodesByCode: self.feeCodesByCode,
                        feeCodesByDescription: self.feeCodesByDescription
                    }
                });
            },
            modifyFee: function(e) {
                var self = this;
                var index = e.model.index;
                this.$.hub.publish("activity:dynamo", {
                    activity: "modify-fee",
                    title: "Modify Fee",
                    properties: {
                        fee: self.fees[index],
                        loanReferenceNumber: self.currentLoan.referenceNumber
                    }
                });
            },
            cancelFee: function(e) {
                var self = this;
                var index = e.model.index;
                this.$.hub.publish("activity:dynamo", {
                    activity: "cancel-fee",
                    title: "Cancel Fee",
                    properties: {
                        fee: self.fees[index],
                        loanReferenceNumber: self.currentLoan.referenceNumber
                    }
                });
            },
            isEmpty: function(collection) {
                if (!collection) {
                    return true
                }

                return collection.length === 0;
            }
        })
    </script>
</dom-module>