<link rel="import" href="/components/services/http/request.html">
<dom-module id="payments-tab">
    <style>
        .payments-tab.wrapper {
            padding: 20px;
            padding-right: 20px !important;
        }
        .header {
            margin-bottom: 10px;
        }
        .header-right {
            position: absolute;
            right: 20px;
        }
        .btn.selected {
            background-color: #88bf40;
            border: 1px #88bf40 solid;
        }
        .btn.selected:hover:active {
            color: white;
            background-color: #578C11;
            border-color: #4D7B0F;
        }
        #payment-search {
            width: 250px;
        }
        .header .input-group {
            width: 1px;
        }
        .inline-block {
            display: inline-block;
        }
        #length-selector {
            width: auto;
            display: inline-block;
        }
        label {
            font-weight: normal;
        }
        .tags {
            margin-right: 10px;
        }
    </style>
    <template>
        <div class="wrapper" padding-right="20px" padding="20px">
            <div class="header">
                <span class="header-left">
                    <span class="tags">
                        <span id="show-all" class="btn btn-xs btn-default">Clear Filters</span>
                        <span class="btn btn-xs btn-default">Scheduled</span>
                        <span class="btn btn-xs btn-default">Paid</span>
                    </span>
                    <label>
                        <select name="table_length" id="length-selector" class="form-control">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> payments per page
                    </label>
                </span>
                <span class="header-right">
                    <div class="inline-block">
                        <div class="input-group">
                            <input id="payment-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search..."></input>
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </span>
            </div>
            <table id="payment-table" class="table hover issue-tracker">
                <thead>
                    <tr>
                        <template is="dom-repeat" items="{{headers}}">
                                <th>{{item}}</th>
                        </template>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{payments}}" as="payment">
                        <tr>
                            <td>{{payment.date}}</td>
                            <td>{{payment.amount}}</td>
                            <td>{{payment.balance}}</td>
                            <td>{{payment.type}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is : "payments-tab",
            attached : function() {
                var self = this;
                if (window.jQuery && $.fn.DataTable) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init : function() {
                var self = this;
                
                self.headers = ["Date", "Payment Amount", "Balance", "Type"];
                // self.$.http.get("/:loan/transactions")
                //     .done(function(data) {
                //         self.set("payments", data);
                //         console.log(self.payments);
                //     })
                self.payments = [];
                for (var i = 0; i < 87; i++) {
                    self.push('payments', {
                        DT_RowId: i,
                        date: "10/01/15",
                        amount: "$300.00",
                        balance: "$3239.00",
                        type: i % 2 === 0 ? "Scheduled" : "Paid",
                        principal: "$3000.00",
                        interest: "$200.00",
                        fees: "$39.00"
                    })
                }
                
                
                return function() {
                    self.async(function() {
                        if ( !$.fn.dataTable.isDataTable("#payment-table") ) {
                            var table = $("#payment-table", self).DataTable({
                                sDom: '<"top">rt<"bottom"ip><"clear">',
                                data: self.payments,
                                columns: [
                                    { data: 'date' },
                                    { data: 'amount' },
                                    { data: 'balance' },
                                    { data: 'type' },
                                ]
                            });
                        
                            // Create and render buttons
                            new $.fn.dataTable.Buttons( table, {
                                buttons: ['copyHtml5', 'csvHtml5',
                                    {
                                        extend: 'excelHtml5',
                                        title: 'payments',
                                        extension: '.xlsx'
                                    }, 'pdfHtml5', 'print'
                                ]
                            })
                            table.buttons().container().appendTo($('.header-right'), self);
                            // Tag Filters
                            $(".tags span:not(#show-all)", self).on('click', function() {
                                if ($(this).hasClass("selected")) {
                                    $(this).removeClass("selected");
                                    table.columns().search('').draw()
                                } else {
                                    $(".tags span").each(function() {
                                        $(this).removeClass("selected");
                                    })
                                    $(this).addClass("selected");
                                    table.columns(3).search($(this).text()).draw()
                                }
                            });
                            $("#show-all", self).on('click', function() {
                                $(".tags span").each(function() {
                                    $(this).removeClass("selected");
                                })
                            table.columns().search('').draw()
                            });
                            
                            // Custom Length Selector
                            $("#length-selector").on("change", function() {
                                table.page.len(this.value).draw();
                            })
                            // Custom search
                            $("#payment-search").on('input', function() {
                                table.search(this.value).draw();
                            });
                            
                            // Details child row
                            var format = function(d) {
                                return '<table>'
                                + '<tr>'
                                    + '<td>Principal:</td>'
                                    + '<td>' + d.principal + '</td>'
                                + '</tr>'
                                + '<tr>'
                                    + '<td>Interest:</td>'
                                    + '<td>' + d.interest + '</td>'
                                + '</tr>'
                                + '<tr>'
                                    + '<td>Fees:</td>'
                                    + '<td>' + d.fees + '</td>'
                                + '</tr>'
                                + '</table>'
                            }
                            $("#payment-table tbody").on("click", "td", function(e) {
                                var tr = $(this).closest("tr");
                                var row = table.row(tr);
                                if (row.child.isShown()) {
                                    row.child.hide();
                                    tr.removeClass("shown")
                                } else {
                                    row.child(format(row.data())).show();
                                    tr.addClass("shown")
                                }
                            });
                        }
                    })
                }
            }
        })
    </script>
</dom-module>