<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/event/subscription.html">
<dom-module id="event-console">
	<template>
		<event-hub>
			<event-subscription event="*" on-handle="log"></event-subscription>
		</event-hub>
	</template>
	<script>
		Polymer({
			is:"event-console",
			log : function(e, args){
				console.log(args);
			}
		});
	</script>
</dom-module>