<dom-module id="event-subscription">
	<script>
        // <event-subscription event="tabs:reset" on-handle="resetTabs"></event-subscription>
		Polymer({
			is : "event-subscription",
			properties : {
				event : {
					type : String,
					reflectToAttribute: true
				}
			},
			ready : function(){
				var self = this;
				self.handler = function(){
					self.fire.apply(self, ["handle"].concat([].splice.call(arguments, 0)));
				};	
			}
		});
	</script>
</dom-module>