<link rel="import" href="/components/decision/engine/service.html">
<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/services/http/request.html">
<dom-module id="decision-engine-delete">
    <style>
        .rules {
            margin: 0 auto;
        }
        .rules div {
            margin-left: 50px;
        }
        textarea {
            resize: none;
        }
        #status-message {
            max-height: 110px;
            overflow-y: auto;
        }
    </style>
    <template>
        <div class="modal-header">
            <h3>Delete</h3>
        </div>
        <div class="modal-body">
            <div hidden$="{{!alertMessage}}" id="status-message" class="alert alert-danger">{{alertMessage}}</div>
            <div hidden$="{{!dependentsLoaded}}">
                <div hidden$="{{!hasDependents(effectedRules)}}">
                    <h4>Rules affected by change:</h4>
                    <table class="table table-hover issue-tracker">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Version</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template is="dom-repeat" items="{{effectedRules}}">
                                <tr>
                                    <td>{{item.name}}</td>
                                    <td>{{item.version}}</td>
                                    <td>{{item.description}}</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
                <div hidden$="{{hasDependents(effectedRules)}}">No rules will be affected.</div>
            </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <span hidden$="{{!dependentsLoaded}}">
                <span hidden$="{{hasDependents(effectedRules)}}">
                    <button hidden$="{{askConfirmation}}" type="button" class="btn btn-primary" on-click="askToConfirm">Delete</button>
                    <button hidden$="{{!askConfirmation}}" type="button" class="btn btn-primary" on-click="submitModalForm">Yes, confirm</button>
                </span>
            </span>
        </div>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "decision-engine-delete",
            properties: {
                deleteCode: {
                    type: Object,
                    notify: true
                },
                currentExpression: {
                    type: Object,
                    notify: true
                }
            },
            behaviors: [DecisionEngineBehavior],
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.askConfirmation = false;
                self.effectedRules = []
                self.dependentsLoaded = false;
                self.alertMessage = "";
                
                return function() {
                    var modal = $(self).closest("custom-modal")[0]
                    modal.addEventListener("modal-shown", self.onOpen.bind(self));
                    modal.addEventListener("modal-hidden", self.onClose.bind(self));
                }
            },
            onOpen: function() {
                var self = this;
                 
                if (self.hidden) { return }
                
                var endpoint = ["", "catalog", self.deleteCode.name, self.deleteCode.version, "dependents"].join("/");
                self.$.http.get(endpoint, window.config.services.decisionEngine, function(response) {
                    self.dependentsLoaded = true;
                    if (!response.dependencies) { return }
                    // If has dependents push to effectedRules
                    var temp = [];
                    for (var i = 0; i < response.dependencies.length; i++) {
                        temp.push(response.dependencies[i]);
                    }
                    self.set("effectedRules", temp);
                }, function(error) {
                    self.alertMessage = error.responseText;
                });
                
            },
            onClose: function() {
                this.init();
            },
            askToConfirm: function() {
                this.askConfirmation = true;
            },
            submitModalForm: function() {
                var self = this;
                
                var request = {id: self.deleteCode.id};
                
                self.$.http.post("/catalog/delete", request, window.config.services.decisionEngine,
                function(response) {
                    self.$.hub.publish("catalog:refresh");
                    if (self.deleteCode.id === self.currentExpression.id) {
                        self.currentExpression = new self.Expression();
                    }
                    $("#modal", self.domHost)[0].hideModal();
                }, function(error) {
                    self.alertMessage = error.responseText;
                });
            },
            hasDependents: function(effectedRules) {
                return effectedRules.length > 0;
            }
            
        });
    </script>
</dom-module>