<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/decision/engine/metadata.html">
<link rel="import" href="/components/services/http/request.html">
<link rel="import" href="/components/decision/engine/service.html">
<dom-module id="decision-engine-publish">
    <style>
        select {
            width: 50px;
            display: inline;
        }
        textarea {
            resize: none;
        }
        .description {
            max-width: 400px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        b {
            color: #88BF40;
        }
        #status-message {
            max-height: 110px;
            overflow-y: auto;
        }
    </style>
    <template>
        <div class="modal-header">
            <h3>Publish</h3>
        </div>
        <div class="modal-body">
            <div hidden$="{{!alertMessage}}" id="status-message" class="alert alert-danger">{{alertMessage}}</div>
            
            <div hidden="{{!statusIsNew(currentExpression.status)}}">
                Please save rule before publishing.
            </div>
            <div hidden="{{statusIsNew(currentExpression.status)}}">
                <expression-metadata data-code="{{currentExpression}}"></expression-metadata>
                <div hidden$="{{!checkedDependents}}">
                    <br>
                    <div class="divider"></div>
                    <br>
                    <div hidden$="{{!noDependents}}">
                        <b>No dependents found. You're good to go!</b>
                    </div>
                    <div hidden$="{{noDependents}}">
                        <h3>Rules affected by change:</h3>
                        <table class="table table-hover issue-tracker">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Version</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template is="dom-repeat" items="{{effectedRules}}">
                                    <tr>
                                        <td>{{item.name}}</td>
                                        <td>{{item.version}}</td>
                                        <td class="description" title="{{item.description}}">{{item.description}}</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <span hidden="{{statusIsNew(currentExpression.status)}}">
                <button hidden$="{{!askConfirmation}}" type="button" class="btn btn-primary" on-click="askToConfirm">Publish</button>
                <button hidden$="{{allowConfirmation(askConfirmation, alertMessage)}}" type="button" class="btn btn-primary" on-click="submitModalForm">Yes, confirm</button>
            </span>
        </div>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "decision-engine-publish",
            behaviors: [DecisionEngineBehavior],
            properties: {
                currentExpression: {
                    type: Object,
                    notify: true
                },
                editorText: {
                    type: String
                }
            },
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },
            init: function() {
                var self = this;
                
                self.expressionDescription = "";
                self.expressionName = "";
                self.expressionId = null;
                self.effectedRules = [];
                self.askConfirmation = true;
                self.noDependents = false;
                self.checkedDependents = false;
                self.token = null;
                self.alertMessage = "";
                
                return function() {
                    var modal = $(self).closest("custom-modal")[0];
                    modal.addEventListener("modal-shown", self.onOpen.bind(self));
                    modal.addEventListener("modal-hidden", self.onClose.bind(self));
                }
            },
            onOpen: function() {
                var self = this;
                
                if (self.hidden) { return }
                
                var version = self.currentExpression.version.split(".");
                
                self.expressionName = self.currentExpression.name;
                self.expressionDescription = self.currentExpression.description;
                self.expressionId = self.currentExpression.id;
                self.askConfirmation = true;
                self.effectedRules = [];
                self.token = null;
                self.alertMessage = "";
            },
            onClose: function() {
                if (self.hidden) { return }
                this.init();
            },
            askToConfirm: function() {
                var self = this;
                
                var endpoint = ["", "catalog", self.currentExpression.name, self.currentExpression.version, "dependents", "publish"].join("/");
                
                self.$.http.get(endpoint, window.config.services.decisionEngine, function(data) {
                    self.checkedDependents = true;
                    // Set token if available
                    self.token = data.token
                    // If has dependents push to effectedRules
                    if (data.dependencies) {
                        var temp = [];
                        for (var i = 0; i < data.dependencies.length; i++) {
                            temp.push(data.dependencies[i]);
                        }
                    }
                    self.effectedRules = temp;
                    if (!data.dependencies) {
                        self.noDependents = true;
                    }
                    self.askConfirmation = false;
                });
            },
            submitModalForm: function() {
                var self = this;
                var errorFound = false;
                
                self.alertMessage = "";
                
                var inputFields = $("input, textarea", self);
                
                inputFields.each(function() {
                    $(this).removeClass("error");
                });
                
                for (var i = 0; i < inputFields.length; i++) {
                    if (!inputFields[i].value) {
                        errorFound = true;
                        $(inputFields[i]).addClass("error");
                        self.alertMessage = "All fields must be filled."
                    }
                }
                if (errorFound) { return }
                
                var req = new self.Expression(self.currentExpression.name, self.currentExpression.version, self.currentExpression.description, "published", self.editorText, self.expressionId)
                req.token = self.token;
                
                self.$.http.post("/catalog/publish", req, window.config.services.decisionEngine, function(data) {
                    if (data.tokenMessage) { return };
                    $("#modal", self.domHost)[0].hideModal();
                    self.currentExpression = new self.Expression(data.name, data.version, data.description, data.status, data.code.source, data._id);
                    self.onOpen();
                    self.$.hub.publish("notification:show", { type: "success", message: "Expression published." });
                    self.$.hub.publish("catalog:refresh");
                }, function(error) {
                    self.alertMessage = error.responseText;
                });
            },
            statusIsNew: function(status) {
                return status == null;
            },
            allowConfirmation: function() {
                // If asking for confirmation or has error, hide
                return this.askConfirmation || !!this.alertMessage;
            }
        });
    </script>
</dom-module>