<dom-module id="dropdown-input">
    <style>
        .dropdown-group {
            height: 34px;
        }
        select {
            width: 100%;
            float: left;
        }
        input {
            width: 90%;
            height: 20px;
            margin-top: -27px;
            margin-left: 7px;
            border: none;
            padding: 0;
            float: left;
        }
    </style>
    <template>
        <div class="dropdown-group">
            <select on-change="setSelectedOption" class="form-control">
                <option value=""></option>
                <template is="dom-repeat" items="{{listOptions}}" as="option">
                    <option value="{{option.value}}">{{option.text}}</option>
                </template>
            </select>
            <input type="text" class="form-control" value="{{selectedOption}}" on-input="onInputText" placeholder="Input, select, or edit title...">
        </div>
    </template>
    <script>
        Polymer({
            is: "dropdown-input",
            properties: {
                listOptions: {
                    type: Array
                }
            },
            onInputText: function(event) {
                var select = this.getElementsByTagName("SELECT")[0];
                select.selectedIndex = 0;
                this.setSelectedOption(event);
            },
            setSelectedOption: function(event) {
                this.selectedOption = event.target.value;
                this.fire("SET_SELECTED_OPTION", {
                    option: this.selectedOption
                })
            },
            resetSelectedOption: function() {
                this.selectedOption = "";
            }
            
        });
    </script>
</dom-module>