<link rel="import" href="node.html">
<link rel="import" href="../event/hub.html">
<link rel="import" href="../event/subscription.html">
<link rel="import" href="../services/http/request.html">
<link rel="import" href="/components/services/identity/session-manager.html">
<dom-module id="nav-sidebar">
        <template>
        <event-hub id="hub">
                <event-subscription event="page:change" on-handle="checkIfActive"></event-subscription>
        </event-hub>
		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav metismenu" id="side-menu">
					<li class="nav-header">
						<div class="logo-element">
							<img src="/images/lendfoundry-logo.png" style="max-width:180px" />
						</div>
						<div class="mini-logo-element">
							<img src="/images/lendfoundry-blocks-1000.png" style="max-width:30px" />
						</div>
					</li>
					<li class="nav-header nav-section-header">
					</li>
					<!--<queue-menu></queue-menu>-->

                                        <li on-click="openPentaho" hidden$="{{!pentahoReports}}">
                                                <a class='link'>
                                                <i class="fa fa-table style-scope nav-node"></i>
                                                <span class="nav-label">Reports</span>
                                                </a>
                                        </li>
					<template is="dom-repeat" items="{{nodes}}">
						<nav-node node="{{item}}" level="2"></nav-node>
					</template>
        </ul>
        </div>
        </nav>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        </template>
        <script>
                Polymer({
                        is: 'nav-sidebar',
                        properties: {
                                pentahoReports: {
                                        type: String,
                                        value: null
                                }
                        },
                        ready: function() {
                                var self = this;
                                // GET list of filters and endpoints with config service



                                if (window.jQuery) {
                                        self.init()();
                                } else {
                                        window.addEventListener("WebComponentsReady", self.init());
                                }
                        },
                        init: function() {
                                var self = this;
                                return function() {
                                        var config = window.config.services.configuration;
                                        self.$.http.get("/alloy/filters", config, function(filters) {
                                                var nodes = [];
                                                for (var filterName in filters) {
                                                        if (filterName[0] !== "_") {
                                                                nodes.push({
                                                                        title: filterName,
                                                                        url: "/#/components-filter-view/filter:" + filterName
                                                                })
                                                        }
                                                }
                                                nodes.unshift({
                                                        title: "Home",
                                                        icon: "home",
                                                        url: "#/components-home-view"
                                                });

                                                if (filters._Reports) {
                                                        self.pentahoReports = filters._Reports;
                                                }

                                                self.set("nodes", nodes);
                                                self.selectNode();
                                        });

                                }
                        },
                        selectNode: function() {
                                var self = this;
                                self.async(function() {
                                        $('nav-node', self).each(function() {
                                                var target = this;
                                                $(this).on('click', function() {
                                                        $('nav-node', self).each(function() {
                                                                this.handleClick(target);
                                                        })
                                                })
                                        })
                                })
                        },
                        checkIfActive: function() {
                                var self = this;
                                $('nav-node', self).each(function() {
                                        this.checkIfActive();
                                })
                        },
                        openPentaho: function() {
                                var token = this.$.session.get("token");
                                var url = this.pentahoReports + "?SSOtoken=Bearer%20" + token;
                                var win = window.open(url, '_blank');
                                win.focus();
                        }
                });
        </script>
</dom-module>