<link rel="import" href="/components/ui-elements/forms/activity-form.html">
<link rel="import" href="/components/ui-elements/inputs/date-input.html">
<link rel="import" href="/components/ui-elements/inputs/number-input.html">
<link rel="import" href="/components/ui-elements/selectable-table.html">
<link rel="import" href="/components/services/http/request.html">
<link rel="import" href="/components/event/hub.html">
<dom-module id="payment-ach">
    <style>
        .table input {
            width: 100px;
        }
        
        .table > tbody + tbody {
            border-top: none;
        }
        
        textarea {
            resize: none;
        }
        
        .checkbox.two-column-form {
            top: 15px;
            cursor: default;
        }
        
        .two-column-double-tag div {
            display: block;
            margin-left: 0;
        }
        
        .radio label {
            padding-left: 0;
            padding-right: 20px;
            cursor: pointer;
        }
        
        .fa-asterisk {
            font-size: 8px;
            vertical-align: text-top;
            color: #7DB139;
        }
    </style>
    <template>
        <activity-form id="ach-form">
            <div class="form-group">
                <h4><strong>Date</strong></h4>
                <template is="dom-if" if="{{startDate}}">
                    <date-input id="dateSelector" input-value="{{selectedDate}}" start-date="{{startDate}}" tenant-dates="true" on-blur="onDateBlur"></date-input>
                </template>
    </div>

    <div class="form-group amount">
        <div class="radio radio-inline radio-primary">
            <input name="ach-fee-type" value="Extra" id="ach-extra-input" type="radio" on-click="radioClick" checked>
            <label for="ach-extra-input">Extra</label>
        </div>
        <div class="radio radio-inline radio-primary">
            <input name="ach-fee-type" value="Fee" id="ach-fee-input" type="radio" on-click="radioClick">
            <label for="ach-fee-input">Fee</label>
        </div>
        <div class="radio radio-inline radio-primary">
            <input name="ach-fee-type" value="Payoff" id="ach-payoff-input" type="radio" on-click="radioClick">
            <label for="ach-payoff-input">Payoff</label>
        </div>
    </div>

    <div class="animated fadeIn form-group" hidden$="{{!paymentIsFee(selectedType)}}">
        <h4><b>Fee Type</b></h4>
        <select name="payment-type" id="payment-type" class="form-control" value="{{selectedFee::change}}">
                    <template is="dom-repeat" items="{{feeCodes}}">
                        <option value="{{item.code}}">{{item.title}}</option>
                    </template>
                </select>
    </div>

    <div class="form-group amount">
        <h4><b>Amount</b></h4>
        <number-input id="amount" input-type="currency" input-value="{{paymentAmount}}"></number-input>
    </div>

    <h4><b>Bank Accounts</b></h4>
    <selectable-table id="select-table" table-items="{{items}}" table-headers="{{headers}}" select-type="false" selected-row="{{selectedAccount}}"></selectable-table>

    <h4><b>Notes</b></h4>
    <div class="form-group">
        <textarea id="notes" rows="6" form="ach-form" class="form-control" value="{{notes::input}}"></textarea>
    </div>

    <input id="submit" type="submit" class="btn btn-primary" on-click="submitPayment"> or <span><a href="javascript:;" on-click="resetApp">Cancel</a></span>
    </activity-form>
    <http-request id="http"></http-request>
    <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "payment-ach",
            properties: {
                currentLoan: Object,
                items: {
                    type: Object,
                    notify: true
                },
                selectedAccount: {
                    type: Object,
                    notify: true
                }
            },
            observers: [
                "updateCurrentLoan(currentLoan)",
                "getFeeAmount(selectedFee)"
            ],
            attached: function() {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },
            init: function() {
                var self = this;

                self.hasAlert = false;
                self.headers = {
                    accountNumber: "Account",
                    routingNumber: "Routing",
                    paymentType: "Type"
                };
                self.$.columnWidth = [0, 0, 22, 10]
                self.selectedAccount;
                self.paymentAmount = "0.00";
                self.notes = "";
                self.selectedType = "Extra";

                self.feeCodes = [];
                var codes = window.config["loan-fees"].codes;
                for (var name in codes) {
                    self.push("feeCodes", {
                        title: name,
                        code: codes[name].code,
                        amount: codes[name].amount
                    });
                }
                return function() {
                    self.items = [];
                    //Prevent input default submission
                    $(self.$["ach-form"]).submit(function(e) {
                        return false;
                    });
                };
            },
            updateCurrentLoan: function() {
                var self = this;
                self.set("loan", self.currentLoan);
                if (self.loan && self.loan.terms) {
                    self.set("items", []);
                    var banks = self.loan.bankInfo
                    for (var i = 0; i < banks.length; i++) {
                        var bank = banks[i];
                        var item = {
                            routingNumber: bank.routingNumber,
                            accountNumber: bank.accountNumber,
                            paymentType: bank.accountType,
                            isPrimary: bank.isPrimary
                        };
                        self.push("items", item);
                        if (item.isPrimary) {
                            self.set("selectedAccount", item);
                        }
                    }
                }
                self.getCurrentDate(self.currentLoan);
            },
            getCurrentDate: function(loan) {
                var self = this;
                if (!loan) {
                    return;
                }

                var tenant = window.tenant;

                var convertedTimeLimit = moment.utc({
                    hour: tenant.paymentTimeLimit
                }).hour();
                var currentTime = moment.utc().tz(tenant.timezone).hour();
                // If local time is past the ach submittal limit, set correctDate to next day
                var correctDate = currentTime > convertedTimeLimit ?
                    moment().tz(tenant.timezone).add(1, 'days').format("MM/DD/YYYY") :
                    moment().tz(tenant.timezone).format("MM/DD/YYYY");
                if (currentTime === convertedTimeLimit && moment.utc().tz(tenant.timezone).minutes > 0) {
                    correctDate = moment.utc({
                        hour: 0
                    }).tz(tenant.timezone).add(1, 'days').format("MM/DD/YYYY");
                }

                if (!this.selectedDate) {
                    this.selectedDate = correctDate;
                }
                if (!this.startDate) {
                    this.startDate = correctDate;
                }
                return correctDate;
            },
            // API request for the current Payoff Amount
            getCalculatedAmount: function(checkbox) {
                var self = this;

                var paymentDate = self.loan.lastPaymentDate !== null ? moment(self.loan.lastPaymentDate).format("YYYY-MM-DD") : moment(self.loan.terms.originationDate).format("YYYY-MM-DD")
                var loanInfo = {
                    amount: self.loan.terms.loanAmount,
                    term: self.loan.terms.term,
                    rate: self.loan.terms.rate,
                    fees: self.loan.terms.fees,
                    currentBalance: self.loan.remainingBalance,
                    lastPaymentDate: paymentDate
                };
                // TODO: Change to accept either payoff amount OR catch up ammount
                self.$.http.get("/:loan/payoff/amount/" + moment(self.selectedDate).format("YYYY-MM-DD"), window.config.services.loan,
                    function(response) {
                        if ($(checkbox).is(":checked")) {
                            self.$.amount.set(response.amount);
                            self.$.amount.disableField();
                        }
                    },
                    function(response) {
                        self.displayErrorMessage(response.responseJSON.message)
                    })
            },
            getSelectedRowIndex: function($selectedRow) {
                var $rows = $("tr", this);
                return $rows.index($selectedRow) - 1;
            },
            // API request to save a new payment
            submitPayment: function() {
                var self = this;

                if (!self.$["ach-form"].validateForm()) {
                    return
                }
                if (+self.paymentAmount.replace(/,/g, "") <= 0) {
                    self.displayErrorMessage("Amount must be valid.");
                    return;
                }
                var paymentDetails = {
                    DueDate: moment(self.selectedDate).format("YYYY-MM-DD"),
                    Amount: +self.paymentAmount.replace(/,/g, ""),
                    Type: self.selectedType
                };

                $(self.$["select-table"]).find("div.radio label").removeClass("error");

                if (self.selectedAccount === undefined) {
                    self.displayErrorMessage("Select an account.");
                    $(self.$["select-table"]).find("div.radio label").addClass("error");
                    return;
                }
                for (var i = 0; i < self.currentLoan.borrowers.length; i++) {
                    if (self.currentLoan.borrowers[i].isPrimary) {
                        var borrower = self.currentLoan.borrowers[i];
                        var primaryBorrower = [borrower.firstName, borrower.lastName].join(" ");
                    }
                }
                var selectedPayment = Object.assign(paymentDetails, {
                    LoanReferenceNumber: self.currentLoan.referenceNumber,
                    Method: "ACH",
                    AccountNumber: self.selectedAccount.accountNumber,
                    RoutingNumber: self.selectedAccount.routingNumber,
                    AccountHolder: primaryBorrower,
                    AccountType: self.selectedAccount.paymentType,
                });
                if (selectedPayment.Type === "Fee") {
                    selectedPayment.Code = self.selectedFee;
                }
                self.$.http.put("/ach", selectedPayment, window.config.services.payment,
                    function(res) {
                        self.$.hub.publish("notification:show", {
                            type: "success",
                            message: "Add Payment successfully submitted."
                        });
                        // 1 Second Timeout to let service process new payment
                        setTimeout(function() {
                            self.$.hub.publish("tabs:reset");
                        }, 1000)
                        self.resetApp();
                    },
                    function(error) {
                        if (error && error.responseJSON && error.responseJSON.message) {
                            return self.displayErrorMessage(error.responseJSON.message);
                        }
                        return self.displayErrorMessage("Error submitting request. Please try again or contact support.");
                    });
            },
            validateForm: function() {
                return $(this.$["ach-form"]).valid();
            },
            displayErrorMessage: function(message) {
                this.hasAlert = true;
                this.$["ach-form"].displayErrorMessage(message);
            },
            clearErrorMessages: function() {
                this.hasAlert = false;
                this.$["ach-form"].clearErrorMessages();
            },
            resetApp: function() {
                this.$["ach-form"].clearForm();

                this.init();
                this.getCurrentDate(this.currentLoan);
                this.$.hub.publish("activity:close", {
                    activity: "add-onetime-payment"
                });
            },
            onDateBlur: function() {
                this.clearErrorMessages();
                if (this.selectedType === "Payoff" && this.selectedDate !== "") {
                    this.getCalculatedAmount(this.$["ach-payoff-input"]);
                }
            },
            handlePayoffClick: function(e) {;
                this.clearErrorMessages();
                if (!this.selectedDate) {
                    e.preventDefault();
                    this.displayErrorMessage("Please select a date.");
                    return;
                }

                if (!this.loan) {
                    e.preventDefault();
                    return;
                }

                if ($(e.target).is(":checked")) {
                    this.getCalculatedAmount(e.target);
                } else {
                    this.$.amount.set("");
                    this.$.amount.enableField();
                }
            },
            handleExtraClick: function(e) {
                this.$.amount.set("");
                this.$.amount.enableField();
            },
            handleFeeClick: function(e) {
                this.selectedFee = this.feeCodes[0].code;
                this.$.amount.set(this.feeCodes[0].amount);
                this.$.amount.enableField();
            },
            radioClick: function(e) {
                this.clearErrorMessages();
                if (this.selectedType !== e.target.value) {
                    var radioType = e.target.value;
                    ({
                        Fee: this.handleFeeClick,
                        Extra: this.handleExtraClick,
                        Payoff: this.handlePayoffClick
                    }[radioType]).call(this, e);
                    this.set("selectedType", radioType);
                }
            },
            paymentIsFee: function(selectedType) {
                return this.selectedType === "Fee";
            },
            getFeeAmount: function() {
                if (!this.selectedFee) {
                    return
                }
                for (var i = 0; i < this.feeCodes.length; i++) {
                    var feeCode = this.feeCodes[i];
                    if (feeCode.code === this.selectedFee) {
                        return this.$.amount.set(feeCode.amount);
                    }
                }
            }
        });
    </script>
</dom-module>