<link rel="import" href="../../event/hub.html">
<link rel="import" href="../../services/http/request.html">
<link rel="import" href="../../ui-elements/inputs/number-input.html">
<link rel="import" href="../../ui-elements/inputs/lf-input.html">
<link rel="import" href="../../ui-elements/forms/lf-submit.html">
<script src="https://npmcdn.com/redux@latest/dist/redux.min.js"></script>
<dom-module id="add-bank-account">
    <style>
        tbody td {
            vertical-align: inherit;
        }

        table td button.btn {
            margin-bottom: 0;
        }
    </style>
    <template>
        <div class="form-group">
            <div class="alert alert-danger" hidden$="{{ shouldHideErrorMessage(state.errorMessage) }}">
                <template is="dom-repeat" items="{{ state.errorMessage }}" as="error">
                    <div>{{error}}</div>
                </template>
            </div>
        </div>

        <div class$="{{ getClass('account-number-input', state.form.errors) }}">
            <lf-input on-input="handleInput" id="account-number-input" input-label="Account Number" input-type="number" input-value="{{ getInputValue('account-number-input', state.form) }}">
            </lf-input>
        </div>

        <div class$="{{ getClass('routing-number-input', state.form.errors) }}">
            <lf-input on-input="handleInput" id="routing-number-input" input-label="Routing Number" input-type="number" input-value="{{ getInputValue('routing-number-input', state.form) }}">
            </lf-input>
        </div>

        <div class$="{{ getClass('bank-name-input', state.form.errors) }}">
            <lf-input on-input="handleInput" id="bank-name-input" input-label="Bank Name" input-type="text" input-value="{{ getInputValue('bank-name-input', state.form) }}">
            </lf-input>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-sm" on-tap="submitForm">
                Add Account
            </button>
        </div>

        <div class="form-group">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Routing</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{ state.currentLoan.bankInfo }}" as="bank">
                        <tr>
                            <td>{{ bank.accountNumber }}</td>
                            <td>{{ bank.routingNumber }}</td>
                            <td>
                                <button class="btn btn-primary btn-xs" hidden$="{{ !bank.isPrimary }}">
                                    P
                                </button>
                                <button class="btn btn-default btn-xs" hidden$="{{ bank.isPrimary }}" on-tap="setPrimaryBank">
                                    Make Primary
                                </button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" on-tap="cancelForm">
                Close
            </button>
        </div>


        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        (function() {
            var store; // redux store

            function reducer(state, action) {
                state.prevAction = action.type;

                switch (action.type) {
                    case "SET_CURRENT_LOAN":
                        state.currentLoan = action.currentLoan;
                        return state;

                    case "SET_PRIMARY_BANK":
                        return state;

                    case "SET_PRIMARY_BANK_SUCCESS":
                        state.currentLoan.bankInfo.filter(function(bank) {
                            return bank.isPrimary;
                        })[0].isPrimary = false;

                        state.currentLoan.bankInfo.filter(function(bank) {
                            return bank.accountNumber === action.accountNumber;
                        })[0].isPrimary = true;
                        return state;

                    case "SET_ERROR_MESSAGE":
                        state.errorMessage = action.errorMessage;

                    case "SET_FORM_ERRORS":
                        state.form.errors = action.errors;
                        return state;

                    case "FORM_INPUT":
                        state.form[action.fieldId] = action.fieldValue;
                        return state;

                    case "CANCEL_FORM":
                        return state;

                    case "RESET_FORM":
                        state.errorMessage = [];
                        state.isSubmitting = false;
                        state.submitCount = 0;
                        state.form = {
                            errors: {}
                        };

                        return state;

                    case "SUBMIT_FORM":
                        state.submitCount += 1;
                        state.isSubmitting = true;
                        return state;

                    case "SUBMIT_FORM_FAILURE":
                        state.isSubmitting = false;
                        return state;

                    case "SUBMIT_FORM_SUCCESS":
                        state.isSubmitting = false;
                        return state;

                    default:
                        return state;
                }
            }

            store = Redux.createStore(
                reducer, {
                    errorMessage: [],
                    isSubmitting: false,
                    submitCount: 0,
                    form: {
                        errors: {}
                    }
                },
                window.devToolsExtension ? window.devToolsExtension() : undefined
            );

            // Polymer prototype definition as usual
            Polymer({
                is: "add-bank-account",

                properties: {
                    // Store a copy of state locally
                    state: {
                        value: function() {
                            return store.getState();
                        }
                    },

                    // Passed in from parent
                    currentLoan: {
                        type: Object
                    }
                },

                observers: [
                    "setCurrentLoan(currentLoan)",
                ],

                // Sync current loan from parent to store state
                setCurrentLoan: function(currentLoan) {
                    if (!currentLoan) {
                        return;
                    }
                    store.dispatch({
                        type: "SET_CURRENT_LOAN",
                        currentLoan: currentLoan
                    });
                },

                setPrimaryBank: function(ev) {
                    var self = this;
                    var bank = ev.model.bank;
                    var accountNumber = bank.accountNumber;
                    var referenceNumber = this.state.currentLoan.referenceNumber;

                    var url = "/" + referenceNumber + "/bank/" + accountNumber + "/primary";
                    var baseUrl = window.config.services.loan;

                    this.$.http.post(
                        url, {},
                        baseUrl,
                        function success() {
                            store.dispatch({
                                type: "SET_PRIMARY_BANK_SUCCESS",
                                accountNumber: accountNumber
                            });

                            self.$.hub.publish("notification:show", {
                                type: "success",
                                message: "Bank account added."
                            });

                            self.$.hub.publish("loan:refresh");
                        },
                        function failure(error) {
                            var errorMessage = error.responseJSON.message ||
                                "An error occurred when submitting your data. Please try again or contact support.";

                            store.dispatch({
                                type: "SET_PRIMARY_BANK_FAILURE",
                            });

                            store.dispatch({
                                type: "SET_ERROR_MESSAGE",
                                errorMessage: [errorMessage]
                            });
                        }
                    );
                },

                setErrorMessage: function(errorMessage) {
                    store.dispatch({
                        type: "SET_ERROR_MESSAGE",
                        errorMessage: errorMessage
                    });
                },

                setFormErrors: function(formErrors) {
                    store.dispatch({
                        type: "SET_FORM_ERRORS",
                        errors: formErrors
                    });
                },

                ready: function() {
                    var self = this;

                    // Listen for the events we expect from children
                    self.listen(self, "CANCEL_FORM", "cancelForm");
                    self.listen(self, "SUBMIT_FORM", "submitForm");


                    // Pull a fresh copy of state after store dispatches
                    store.subscribe(function() {
                        // var nextState = store.getState();
                        var nextState = JSON.parse(JSON.stringify(store.getState()));
                        self.set("state", nextState);
                    });
                },

                detached: function() {
                    this.resetForm();
                },

                resetApp: function() {
                    this.cancelForm();
                },

                getFieldName: function(fieldId) {
                    var fieldMap = {
                        "account-number-input": "Account Number",
                        "routing-number-input": "Routing Number",
                        "bank-name-input": "Bank Name",
                        "account-type-input": "Account Type"
                    };

                    return fieldMap[fieldId] || "Unknown field";
                },

                handleInput: function(ev) {
                    var fieldId = ev.currentTarget.id;
                    var fieldValue = ev.target.value || "";

                    store.dispatch({
                        type: "FORM_INPUT",
                        fieldId: fieldId,
                        fieldValue: fieldValue
                    });
                },

                validate: function(state) {
                    var self = this;
                    var errors = {};

                    var length9Fields = [
                        "routing-number-input"
                    ];

                    length9Fields.forEach(function(field) {
                        var fieldValue = state[field];
                        if (!fieldValue || fieldValue.length !== 9) {
                            errors[field] = self.getFieldName(field) + " must be 9 digits long.";
                        }
                    });

                    var requiredFields = [
                        "account-number-input",
                        "bank-name-input"
                    ];

                    requiredFields.forEach(function(field) {
                        var fieldValue = state[field];
                        if (!fieldValue || fieldValue.length === 0) {
                            errors[field] = self.getFieldName(field) + " is required.";
                        }
                    });

                    return errors;
                },

                getClass: function(fieldId, formErrors) {
                    var fieldErrors = formErrors[fieldId];
                    var baseClass = "form-group";

                    if (fieldErrors && fieldErrors.length > 0) {
                        return baseClass + " has-error";
                    } else {
                        return baseClass;
                    }
                },

                getInputValue: function(fieldId, form) {
                    return form && form[fieldId] || "";
                },

                submitForm: function() {
                    var self = this;
                    var state = self.state;

                    store.dispatch({
                        type: "SUBMIT_FORM"
                    });

                    var errors = this.validate(this.state.form);
                    var errorMessage = [];
                    for (var fieldId in errors) {
                        errorMessage.push(errors[fieldId]);
                    }

                    self.setErrorMessage(errorMessage);
                    self.setFormErrors(errors);

                    if (Object.keys(errors).length > 0) {
                        return;
                    }

                    var referenceNumber = state.currentLoan.referenceNumber;
                    var url = "/" + referenceNumber + "/bank/";
                    var payload = {
                        routingNumber: state.form["routing-number-input"],
                        accountNumber: state.form["account-number-input"],
                        accountType: "checking",
                        bankName: state.form["bank-name-input"],
                        isPrimary: false,
                        effectiveDate: "2016-04-12"
                    };

                    this.$.http.put(
                        url,
                        payload,
                        window.config.services.loan,
                        function success() {
                            store.dispatch({
                                type: "SUBMIT_FORM_SUCCESS"
                            });
                            self.resetForm();
                            self.$.hub.publish("loan:refresh");

                        },
                        function failure(error) {
                            var errorMessage = error.responseJSON.message ||
                                "An error occurred when submitting your data. Please try again or contact support.";

                            store.dispatch({
                                type: "SUBMIT_FORM_FAILURE",
                            });



                            store.dispatch({
                                type: "SET_ERROR_MESSAGE",
                                errorMessage: errorMessage
                            });
                        }
                    );
                },

                cancelForm: function() {
                    var self = this;
                    this.resetForm();

                    this.$.hub.publish("activity:close", {
                        activity: self.is
                    });

                    store.dispatch({
                        type: "CANCEL_FORM"
                    });
                },

                resetForm: function() {
                    store.dispatch({
                        type: "RESET_FORM"
                    });
                },

                shouldHideErrorMessage: function(errorMessage) {
                    if (!errorMessage) {
                        return true;
                    }

                    return errorMessage.length === 0;
                }
            });
        })();
    </script>
</dom-module>
