<link rel="import" href="../../ui-elements/forms/formErrorAlert.html">
<link rel="import" href="../../ui-elements/forms/formGroup.html">
<link rel="import" href="../../behaviors/behaviors.html">

<dom-module id="add-fee">
    <template>
        <form id="add-fee-form">
            <form-group>
                <form-error-alert />                    
            </form-group>
        
            <form-group error-key="date">
                <label for="date" class="control-label"><strong>Date</strong></label>
                <date-input 
                    id="date" 
                    input-value="{{ date }}">
                </date-input>
            </form-group>
              
            <form-group error-key="fee">
                <label for="fee" class="control-label"><strong>Fee</strong></label>
                <select class="form-control" name="fee" id="fee" value="{{ fee::change }}">
                    <template is="dom-repeat" items="{{ feeCodes }}">
                        <option value="{{ item.code }}">
                            {{ item.description }}
                        </option>
                    </template>
    </select>
    </form-group>

    <form-group error-key="amount">
        <label for="amount" class="control-label"><strong>Amount</strong></label>
        <number-input id="amount" input-type="currency" input-value="{{ amount }}">
        </number-input>
    </form-group>

    <form-group>
        <label for="notes" class="control-label"><strong>Notes</strong></label>
        <textarea id="notes" rows="6" class="form-control" value="{{ notes::input }}"></textarea>
    </form-group>
    </form>
    <button class="btn btn-primary" on-click="submit">Submit</button> or <span><a href="javascript:;" on-click="cancel">Cancel</a></span>
    <event-hub id="hub">
        <event-subscription event="activities:reset" on-handle="closeActivity"></event-subscription>
    </event-hub>
    <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "add-fee",
            behaviors: [
                activityForm,
                dynamoActivity
            ],
            validate: function() {
                var EMPTY = "";
                this.set("errors", {
                    feeEmpty: this.fee === EMPTY,
                    amountEmpty: this.amount === EMPTY,
                    amountMin: parseFloat(this.amount) < 0,
                    dateEmpty: this.date === EMPTY,
                });
            },
            getFeeCode: function(description) {
                if (!description) {
                    return ""
                }

                return this.feeCodesByDescription[description];
            },
            sendForm: function() {
                var self = this;
                if (self.hasErrors()) {
                    return;
                }

                var payload = {
                    LoanReferenceNumber: self.loanReferenceNumber,
                    amount: self.amount,
                    date: self.date,
                    type: "Fixed",
                    code: self.fee,
                    notes: self.notes
                };

                self.$.http.put(
                    "/",
                    payload,
                    window.config.services.loanFees,
                    function success(response) {
                        self.$.hub.publish("notification:show", {
                            type: "success",
                            message: "Loan fee added."
                        });
                        self.$.hub.publish("loan:refresh");
                        self.$.hub.publish("activity:close");
                        self.closeActivity();
                        self.init();
                    },
                    function failure(error) {
                        var msg;
                        var unknownError = "An unknown error occurred. Please contact support.";

                        // Network error
                        if (!error) {
                            self.addError("unknown", unknownError);
                            return;
                        }

                        if (error.responseJSON) {
                            msg = error.responseJSON.message;
                            self.addError("response", msg);
                        }
                    }
                )
            },
            properties: {
                errors: {
                    type: Object,
                    value: {},
                    notify: true
                },
                errorMessages: {
                    type: Object,
                    value: {
                        dateEmpty: "Date is required.",
                        feeEmpty: "Fee is required.",
                        amountEmpty: "Amount is required.",
                        amountMin: "Amount must be greater than 0"
                    },
                    notify: true
                },
                feeCodes: {
                    value: []
                },
                date: {
                    value: moment().format("MM-DD-YYYY")
                },
                fee: {
                    value: "150"
                },
                amount: {
                    value: ""
                },
                notes: {
                    value: ""
                }
            },
            loadActivity: function(props) {
                // Loan reference Number
                this.set("loanReferenceNumber", props.loanReferenceNumber);
                this.set("feeCodes", props.feeCodes);
                this.set("feeCodesByDescription", props.feeCodesByDescription);
                this.init();
            },
            init: function() {
                // this.fetchFeeCodes();
            },
            resetApp: function() {
                this.init();
            },
        })
    </script>
</dom-module>