<link rel="import" href="../../ui-elements/forms/formGroup.html">
<link rel="import" href="../../ui-elements/forms/formErrorAlert.html">
<link rel="import" href="../../behaviors/behaviors.html">
<dom-module id="cancel-fee">
    <template>
        <form>
            <form-group>
                <dl class="dl-horizontal">
                    <dt>Date</dt>
                    <dd>{{ formatDate(fee.addedOn) }}</dd>
                    <dt>Code</dt>
                    <dd>{{ fee.code }}</dd>
                    <dt>Description</dt>
                    <dd>{{ fee.name }}</dd>
                </dl>  
            </form-group>
            
            <form-group>
                <form-error-alert error-messages="{{ errorMessages }}" errors="{{ errors }}">
            </form-group>
            
            <form-group>
                <label for="notes" class="control-label"><strong>Notes</strong></label>
                <textarea id="notes" rows="6" class="form-control" value="{{ notes::input }}"></textarea>
            </form-group>
            <form-group>
                <button class="btn btn-primary" on-click="submit">Submit</button> or <span><a href="javascript:;" on-click="cancel">Cancel</a></span>
            </form-group>
        </form>
            <event-hub id="hub">
        <event-subscription event="activities:reset" on-handle="closeActivity"></event-subscription>
    </event-hub>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "cancel-fee",
            behaviors: [
                dynamoActivity,
                activityForm
            ],
            loadActivity: function(props) {
                // Receive props object from activity:dynamo handler
                this.set("fee", props.fee);
                this.set("loanReferenceNumber", props.loanReferenceNumber);
            },
            properties: {
                errorMessages: {
                    type: Object,
                    value: {}
                },
                errors: {
                    type: Object,
                    value: {}
                }
            },
            formatDate: function(date) {
                return moment(date).format("MM-DD-YYYY");
            },
            resetForm: function() {
                this.set("errors", {});
            },
            validate: function() {},
            sendForm: function() {
                var self = this;
                var url = "/" + self.loanReferenceNumber + "/" + self.fee.id;
                var baseUrl = window.config.services.loanFees;

                self.$.http.delete(
                    url, {},
                    baseUrl,
                    function success(response) {
                        self.$.hub.publish("notification:show", {
                            type: "success",
                            message: "Loan fee cancelled."
                        });
                        self.$.hub.publish("loan:refresh");
                        self.$.hub.publish("activity:close");
                        self.resetForm();
                        self.closeActivity();
                    },
                    function failure(error) {
                        if (error && error.responseJSON) {
                            var msg = error.responseJSON.message;
                            self.errorMessages.response = msg;
                            self.set("errors", {
                                response: true
                            });
                        } else {
                            self.set("errorMessages.unknown", "An unknown error occurred. Please contact support.");
                            self.set("errors.unknown", true);
                        }
                    }
                );
            }
        })
    </script>
</dom-module>