<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/services/http/request.html">
<dom-module id="cancel-payment">
    <style>
    </style>
    <template>
        <div id="error-message" class="alert alert-danger" hidden$="{{!errorMessage}}">{{errorMessage}}</div>
        
        <div class="form-group">
            <div class="row">
              <span class="col-xs-3">
                <strong>Date</strong><div>{{Payment.date}}</div>
              </span>
              <span class="col-xs-3">
                <strong>Amount</strong><div>{{Payment.amount}}</div>
              </span>
              <span class="col-xs-3">
                <strong>Status</strong><div>{{Payment.status}}</div>
              </span>
              <span class="col-xs-3">
                <strong>Type</strong><div>{{Payment.type}}</div>
              </span>
            </div>
          </div>
        
        <h4><b>Notes</b></h4>
        <div class="form-group">
            <textarea id="notes" rows="6" form="ach-form" class="form-control" value="{{notes::input}}"></textarea>
        </div>
        
        <input id="submit" type="submit" class="btn btn-primary" on-click="submitForm">
        or <span><a href="javascript:;" on-click="resetApp">Cancel</a></span>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "cancel-payment",
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.notes = "";
                self.errorMessage = "";
                
                return function() {
                    
                }
            },
            loadActivity: function(data) {
                this.Payment = data;
            },
            submitForm: function() {
                var self = this;

                if (!self.notes) {
                    self.setErrorMessage("This field is required.");
                    $("#notes", self).addClass("error");
                    return;
                }
                var request = {
                    id: self.Payment.paymentId,
                    notes: self.notes
                }
                
                this.removeErrorMessages();
                //http request
                self.$.http.delete("/", request, window.config.services.payment, function() {
                    self.$.hub.publish("notification:show", {type: "success", message: "Cancel Payment request successfully submitted."});
                    // 1 Second Timeout to let service process canceled payment
                    setTimeout(function() {
                        self.$.hub.publish("tabs:reset");
                    }, 1000)
                    self.resetApp();
                }, function(err) {
                    if (err.message) {
                        self.setErrorMessage(err.message);
                        return;
                    }
                    self.setErrorMessage("Error submitting request. Please try again or contact support.");
                })
            },
            resetApp: function() {
                this.removeErrorMessages();
                this.$.hub.publish("dynamic:close");
            },
            removeErrorMessages: function() {
                this.errorMessage = "";
                $("#notes", this).removeClass("error");
            },
            setErrorMessage: function(msg) {
                this.errorMessage = msg;
            }
        });
    </script>
</dom-module>