<link rel="import" href="../../ui-elements/forms/formGroup.html">
<link rel="import" href="../../ui-elements/forms/formErrorAlert.html">
<link rel="import" href="../../behaviors/behaviors.html">

<dom-module id="modify-fee">
    <template>
        <form>
            <form-group>
                <dl class="dl-horizontal">
                    <dt>Date</dt>
                    <dd>{{ formatDate(fee.addedOn) }}</dd>
                    <dt>Code</dt>
                    <dd>{{ fee.code }}</dd>
                    <dt>Description</dt>
                    <dd>{{ fee.name }}</dd>
                </dl>  
            </form-group>
    
            <form-group>
                <form-error-alert error-messages="{{ errorMessages }}" errors="{{ errors }}">
            </form-group>
    
            <form-group errors="{{ errors }}" error-key="amount">
                <label for="amount" class="control-label"><strong>Amount</strong></label>
                <number-input id="amount" input-type="currency" input-value="{{ fields.amount }}">
                </number-input>
            </form-group>
    
            <form-group>
                <label for="notes" class="control-label"><strong>Notes</strong></label>
                <textarea id="notes" rows="6" class="form-control" value="{{ fields.notes::input }}"></textarea>
            </form-group>
    
            <form-group>
                <button class="btn btn-primary" on-click="submit">Submit</button> or <span><a href="javascript:;" on-click="cancel">Cancel</a></span>
            </form-group>
        </form>
            <event-hub id="hub">
        <event-subscription event="activities:reset" on-handle="closeActivity"></event-subscription>
    </event-hub>
    <http-request id="http"></http-request>

    </template>
    <script>
        Polymer({
            is: "modify-fee",
            behaviors: [
                dynamoActivity,
                activityForm
            ],
            properties: {
                fields: {
                    value: {
                        amount: "",
                        notes: ""
                    }
                },
                errors: {
                    value: {}
                },
                errorMessages: {
                    value: {
                        amountEmpty: "Amount is required",
                        amountMin: "Amount must be greater than zero."
                    }
                }
            },
            loadActivity: function(props) {
                // Receive props object from activity:dynamo handler
                this.set("fee", props.fee);
                this.set("loanReferenceNumber", props.loanReferenceNumber);
            },
            formatDate: function(date) {
                return moment(date).format("MM-DD-YYYY");
            },
            validate: function() {
                var EMPTY = "";
                this.set("errors", {
                    amountEmpty: this.fields.amount === EMPTY,
                    amountMin: parseFloat(this.fields.amount) < 0
                });
            },
            sendForm: function() {
                var self = this;
                var hasErrors = Object.keys(this.errors).some(function(key) {
                    return this.errors[key];
                }, this);

                if (hasErrors) {
                    return
                }

                var url = "/" + self.loanReferenceNumber + "/" + self.fee.id;
                var baseUrl = window.config.services.loanFees;
                var payload = {
                    LoanReferenceNumber: self.loanReferenceNumber,
                    Code: self.fee.code,
                    Type: self.fee.type,
                    Amount: self.fields.amount,
                    id: self.fee.id
                };
                self.$.http.post(
                    url,
                    payload,
                    baseUrl,
                    function success(response) {
                        self.$.hub.publish("loan:refresh");
                        self.$.hub.publish("notification:show", {
                            type: "success",
                            message: "Loan fee updated."
                        });
                        self.resetForm();
                        self.closeActivity();
                    },
                    function failure(error) {
                        if (error) {
                            var msg = error.responseJSON.message;
                            self.errorMessages.response = msg;
                            self.set("errors", {
                                response: true
                            });
                        } else {
                            self.setErrorMessage("An unknown error occurred. Please contact support.");
                        }
                    }
                );
            },
            resetForm: function() {
                $("#amount", this)[0].clearField();
                this.set("fields", {
                    amount: "",
                    notes: "",
                });

                this.set("errors", {});
            }
        })
    </script>
</dom-module>