<link rel="import" href="../../event/hub.html">
<link rel="import" href="/components/services/http/request.html">
<link rel="import" href="/components/radioButtonGroup.html">
<link rel="import" href="/components/ui-elements/lf-alert.html">
<!--<script src="../node_modules/redux/dist/redux.js"></script>-->
<script src="https://npmcdn.com/redux@latest/dist/redux.min.js"></script>
<dom-module id="modify-payment-method">
    <style>
        .radio label {
            padding-left: 0;
            padding-right: 20px;
            cursor: pointer;
        }

        tbody td {
            vertical-align: inherit;
        }

        table td button.btn {
            margin-bottom: 0;
        }
    </style>
    <template>
        <!--<div class="form-group">

            <div
                class="alert alert-danger"
                hidden$="{{shouldHideErrorMessage(state.errorMessage)}}">
                {{ state.errorMessage }}
            </div>

        </div>-->

        <div class="formGroup">
            <lf-alert alert-cfg="{{ alertCfg }}" hidden$="{{ shouldHideErrorMessage(state.errorMessage) }}" alert-content="{{ state.errorMessage }}" </lf-alert>
        </div>

        <div class="form-group">
            <lf-radio-button-group action-type="{{ radioButtonAction }}" button-definitions="{{ radioButtons }}" group-value="{{ state.selectedPaymentMethod }}">
            </lf-radio-button-group>
        </div>
        <div class="form-group">
            <table class="table table-striped table-bordered table-hover" hidden$="{{ shouldHideBankList(paymentMethod, bankInfo) }}">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Routing</th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{ state.currentLoan.bankInfo }}" as="bank">
                        <tr>
                            <td>
                                <span>{{ bank.accountNumber }}</span>
                                <span hidden$="{{ !bank.isPrimary }}" class="label label-primary pull-right">P</span>
                            </td>
                            <td>{{ bank.routingNumber }}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>

        <button class="btn btn-primary" on-click="submitForm">
            Submit
        </button> or
        <span><a on-click="cancelForm">Cancel</a></span>

        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script src="./modify-payment-method.js" charset="utf-8"></script>
</dom-module>
