<link rel="import" href="dynamo-activity.html">
<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/event/subscription.html">
<dom-module id="activity-list">
    <style>
    </style>
    <template>
        <dynamo-activity activity-open="{{dynamicOpen}}"></dynamo-activity>
        <div class="ibox-container only-one-ibox-opened">
            <content></content>
        </div>
        <event-hub id="hub">
            <event-subscription event="activity:select" on-handle="selectActivity"></event-subscription>
            <event-subscription event="activity:close" on-handle="closeActivity"></event-subscription>
            <event-subscription event="activities:reset" on-handle="resetApps"></event-subscription>
        </event-hub>
    </template>
    <script>
        Polymer({
            is: "activity-list",
            ready: function() {
                this.tabs = {};
                this.borrowerCopy;
                this.dynamicOpen = false;
            },
            properties: {
                number: String,
                activityData: {
					type: Object,
					notify: true
				}
            },
            closeActivity: function(e) {
                var selectedActivity = e.detail.activity;
                var activityDetails = e.detail.data;
                
                if (this.$[selectedActivity]) {
                    this.$[selectedActivity].closeActivity();
                }
            },
            resetApps: function() {
                $(".loan-activity").each(function() {
                    if (typeof this.resetApp === "function") {
                        this.resetApp();
                    }
                })
            }
        });
    </script>
</dom-module>