<link rel="import" href="/components/notification/tray.html">
<link rel="import" href="/components/services/identity/service.html">
<dom-module id="profile-summary">
	<template>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<span class="m-r-sm text-muted welcome-message">Hello!</span>
			</li>
			<li class="dropdown">
				<notification-tray></notification-tray>
			</li>
			<li>
				<a on-click="logout">
	                <i class="fa fa-sign-out"></i> Log out
	            </a>
			</li>
		</ul>
        <identity-service id="identity"></identity-service>
	</template>
	<script>
		Polymer({
			is : 'profile-summary',
            logout: function() {
                this.$.identity.logout();
            }
		});
	</script>
</dom-module>
