<dom-module id="form-error-alert">
    <template>
        <div class="alert alert-danger" hidden$="{{ isHidden }}">
            <ul>
                <template is="dom-repeat" items="{{ formErrors }}">
                    <li>{{ item }}</li>
                </template>
    </ul>
    </div>
    </template>
    <script>
        Polymer({
            is: "form-error-alert",
            properties: {
                errorMessages: {
                    type: Object,
                },
                errors: {
                    type: Object,
                },
                isHidden: {
                    type: Boolean,
                    value: true
                }
            },
            // observers: ["watch(errorMessages.*, errors.*)"],
            watch: function(errorMessagesDelta, errorsDelta) {
                var errorMessages = errorMessagesDelta.base;
                var errors = errorsDelta.base;
                this.buildFormErrors(errorMessages, errors);
                this.set("isHidden", this.shouldHide(errors));
            },
            setErrors: function(errorMessages, errors) {
                this.buildFormErrors(errorMessages, errors);
                this.set("isHidden", this.shouldHide(errors));
            },
            buildFormErrors: function(errorMessages, errors) {
                if (!errorMessages || !errors) {
                    return [];
                }

                var formErrors = Object.keys(errorMessages).filter(function(errorKey) {
                    return errors[errorKey] === true
                }).map(function(messageKeys) {
                    return errorMessages[messageKeys];
                });

                this.set("formErrors", formErrors);
            },
            shouldHide: function(errors) {
                return !this.shouldShow(errors);
            },
            shouldShow: function(errors) {
                return this.hasErrors(errors) && this.isDirty(errors);
            },
            isDirty: function(errors) {
                if (!errors) {
                    return false;
                }
                return Object.keys(errors).length !== 0;
            },
            hasErrors: function(errors) {
                if (!errors) {
                    return false;
                }

                var hasErrors = Object.keys(errors).some(function(key) {
                    return errors[key] === true;
                });
                return hasErrors;
            },
        })
    </script>
</dom-module>