<dom-module id="form-group">
    <style>
        .lf-animated {
            -webkit-animation-duration: .5s;
            animation-duration: .5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
        
        @-webkit-keyframes attention {
            from {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
            85% {
                -webkit-transform: scale3d(1.02, 1.02, 1.02);
                transform: scale3d(1.02, 1.02, 1.02);
            }
            to {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }
        
        @keyframes attention {
            from {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
            85% {
                -webkit-transform: scale3d(1.02, 1.02, 1.02);
                transform: scale3d(1.02, 1.02, 1.02);
            }
            to {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }
        
        .attention {
            -webkit-animation-name: attention;
            animation-name: attention;
        }
    </style>
    <template>
        <div class$="{{ className }}">
            <content></content>
        </div>
    </template>
    <script>
        Polymer({
            is: "form-group",
            class: "form-group",
            properties: {
                errorKey: String
            },
            computeClass: function(errors) {
                var BASE_CLASS = "form-group ";
                var className;
                var self = this;

                if (!errors || !this.errorKey) {
                    this.set("className", BASE_CLASS);
                    return;
                }

                // Filter error object by errorKey
                var formGroupErrors = Object.keys(errors).filter(function(key) {
                    return key && key.toLowerCase().includes(this.errorKey.toLowerCase());
                }, this);

                var hasErrors = formGroupErrors.some(function(key) {
                    return errors[key] === true;
                });

                if (hasErrors) {
                    className = BASE_CLASS + "has-error";
                } else {
                    className = BASE_CLASS;
                }

                this.set("className", className);
            },
        })
    </script>
</dom-module>