<link rel="import" href="http/request.html">
<dom-module id="alloy-format">
    <template>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "alloy-format",
            formatPhone: function(phone) {
                return "(" + phone.slice(0, 3) + ") " + phone.slice(3, 6) + "-" + phone.slice(-4);
            },
            formatDate: function(date, isLong) {
                if (!date) {
                    return "";
                }
                if (isLong) {
                    return moment.tz(date, window.tenant.timezone).format("MM/DD/YYYY")
                }
                return moment.tz(date, window.tenant.timezone).format("MMM D, YYYY");
            },
            capitalize: function(string) {
                return string.slice(0, 1).toUpperCase() + string.slice(1);
            },
            formatCurrency: function(currency) {
                return currency.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        })
    </script>
</dom-module>