<link rel="import" href="service.html">
<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/services/format.html">
<link rel="import" href="/components/event/subscription.html">
<link rel="import" href="/components/services/http/request.html">
<style>
    #catalog-table.engine-catalog tr td:last-of-type {
        text-align: center;
        width: 160px;
    }

    #catalog-table.engine-catalog tr td:last-of-type .btn {
        margin-right: 5px;
    }

    #catalog-table.engine-catalog tr:hover td:last-of-type .btn {
        display: inline;
    }

    #catalog-table.engine-catalog tr td:last-of-type .btn {
        display: none;
        position: relative;
        left: -7px;
    }

    .engine-catalog .float-e-margins .btn {
        margin-bottom: 0;
    }

    .engine-catalog table.issue-tracker tbody tr td {
        height: 35px;
    }

    #catalog-table.engine-catalog tbody,
    #catalog-table.engine-catalog thead {
        display: block;
    }
    #catalog-table.engine-catalog tbody {
        max-height: 487px;
    }
    #catalog-table.engine-catalog tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    #catalog-table.table > thead > tr > th {
        border-bottom: none;
    }
    #catalog-table.table > thead > tr {
        border-bottom: 1px solid #DDDDDD;
    }

    #catalog-table.table tbody tr td:first-of-type {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 75px;
    }
    #catalog-table.table tbody tr td:nth-of-type(2) {
        width: 77px;
    }
    #catalog-table.table tbody tr td:nth-of-type(3) {
        width: 92px;
    }
    #catalog-table.table tbody tr td:nth-of-type(4) {
        width: 135px;
    }

    #catalog-table.table thead tr th:first-of-type {
        width: 40px;
    }
    #catalog-table.table thead tr th:nth-of-type(2) {
        width: 50px;
    }
    #catalog-table.table thead tr th:nth-of-type(3) {
        width: 45px;
    }
    #catalog-table.table thead tr th:nth-of-type(4) {
        width: 80px;
    }
    .tip {
        position: relative;
        display: inline-block;
    }
    .tiptext {
        visibility: hidden;
        width: 70px;
        background-color: #283C4E;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 92%;
        margin-left: -60px;
    }
    .tip:hover .tiptext {
        visibility: visible;
    }
    .tiptext .fa-play {
        position: absolute;
        transform: rotate(90deg);
        bottom: -8px;
        color: #283C4E;
        left: 47%;
    }
</style>
<dom-module id="engine-catalog">
    <style>
        .search-wrapper {
            bottom: -15px;
        }
    </style>
    <template>
        <div class="wrapper">
            <span class="tags">
                <span id="show-all" class$="{{allSelected(selectedTag)}}" on-click="showAll">All</span>
                <span class$="{{functionsSelected(selectedTag)}}" on-click="showFunctions">Functions</span>
                <span class$="{{rulesSelected(selectedTag)}}" on-click="showRules">Rules</span>
            </span>
            <div class="input-group search-wrapper">
                <input type="text" id="catalog-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
            <div class="catalog-wrapper">
                <table id="catalog-table" class="table hover issue-tracker">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <event-hub id="hub">
            <event-subscription event="catalog:refresh" on-handle="refreshCatalog"></event-subscription>
        </event-hub>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "engine-catalog",
            behaviors: [DecisionEngineBehavior],
            properties: {
                dirtyMirror: {
                    type: Boolean,
                    notify: true
                }
            },
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.selectedTag = null;
                self.data = [];

                return function() {
                    self.getData(self.initializeDataTable.bind(self));
                }
            },
            allSelected: function(selectedTag) {
                return selectedTag === null ? "btn btn-xs btn-primary" : "btn btn-xs btn-default";
            },
            functionsSelected: function(selectedTag) {
                return selectedTag === "functions" ? "btn btn-xs btn-primary" : "btn btn-xs btn-default";
            },
            rulesSelected: function(selectedTag) {
                return selectedTag === "rules" ? "btn btn-xs btn-primary" : "btn btn-xs btn-default";
            },
            showAll: function() {
                this.selectedTag = null;
                this.table.columns().search("").draw()
            },
            showFunctions: function() {
                this.selectedTag = "functions";
                this.table.columns(3).search("function").draw()
            },
            showRules: function() {
                this.selectedTag = "rules";
                this.table.columns(3).search("rule").draw()
            },
            getData: function(callback) {
                var self = this;
                
                // Replace with http request
                // Will need to refresh when saving and publishing
                self.data = [];
                self.$.http.get("/catalog", window.config.services.decisionEngine, function(data) {
                    data.forEach(function(expression) {
                        if (expression.status === "deleted") { return }
                        var params = expression.parameters.map(function(param) {
                            return param.name;
                        }).join(", ");
                        var call = "call(\"" + expression.name + "\", \"" + expression.version + "\"";
                        if (params) {
                            call += ", " + params
                        }
                        call += ")";

                        var formattedExpression = [
                            expression.name, expression.version, self.$.format.capitalize(expression.status), expression.type, call, expression.code.source, expression.description, expression._id
                        ]
                        self.push("data", formattedExpression);
                    });
                    callback();
                });
            },
            refreshCatalog: function() {
                var self = this;
                
                self.getData(function() {
                    if ( $.fn.dataTable.isDataTable("#catalog-table") ) {
                        var table = $("#catalog-table", self).dataTable();
                        table.fnClearTable();
                        table.fnAddData(self.data);
                        self.addTableFunctionality();
                    }
                });
            },
            initializeDataTable: function() {
                var self = this;

                var table = self.table = $("#catalog-table", self).DataTable({
                    data: self.data,
                    sDom: "",
                    pageLength: -1,
                    columns: [
                        { title: 'Name' },
                        { title: 'Version' },
                        { title: 'Status' },
                        {},
                        {},
                        {},
                        {},
                        {}
                    ],
                    aaSorting: [[0, "desc"]],
                    columnDefs: [
                    {
                        targets: [3],
                        orderable: false,
                        render: function(data, type, rowData, meta) {
                            if (type === "display") {
                                if (rowData[3] === "rule") {
                                    return "<span class=\"tip\"><span class=\"tiptext\">Test<i class=\"fa fa-play\"></i></span><span class=\"test btn btn-primary btn-xs\"><i class=\"fa fa-play\"></i></span></span>" +
                                    "<span class=\"tip\"><span class=\"tiptext\">Preview<i class=\"fa fa-play\"></i></span><span class=\"preview btn btn-primary btn-xs\"><i class=\"fa fa-eye\"></i></span></span>" +
                                    "<span class=\"tip\"><span class=\"tiptext\">Edit<i class=\"fa fa-play\"></i></span><span class=\"edit btn btn-primary btn-xs\"><i class=\"fa fa-edit\"></i></span></span>" +
                                    "<span class=\"tip\"><span class=\"tiptext\">Delete<i class=\"fa fa-play\"></i></span><span class=\"delete btn btn-primary btn-xs\"><i class=\"fa fa-trash\"></i></span></span>"
                                }
                                return "<span class=\"tip\"><span class=\"tiptext\">Test<i class=\"fa fa-play\"></i></span><span class=\"test btn btn-primary btn-xs\"><i class=\"fa fa-play\"></i></span></span>" +
                                    "<span class=\"tip\"><span class=\"tiptext\">Preview<i class=\"fa fa-play\"></i></span><span class=\"preview btn btn-primary btn-xs\"><i class=\"fa fa-eye\"></i></span></span>" +
                                    "<span class=\"tip\"><span class=\"tiptext\">Delete<i class=\"fa fa-play\"></i></span><span class=\"delete btn btn-primary btn-xs\"><i class=\"fa fa-trash\"></i></span></span>"
                            }
                            return data;
                        }
                    },
                    {
                        targets: [4, 5, 6, 7],
                        visible: false,
                        orderable: false,
                        searchable: false
                    }
                    ]
                });
                self.addTableFunctionality();
                $("th", self).each(function() {
                    $(this).removeAttr("style");
                });
            },
            draggable: function(table, self) {
                var $this = $(this);
                $this.prop("draggable", true);
                $this[0].addEventListener('dragstart', function(event) {
                    var expressionCall = table.row(this).data()[4];
                    
                    var canvas = document.createElementNS("http://www.w3.org/1999/xhtml","canvas");
                    
                    event.dataTransfer.setData("text/plain", expressionCall);
                    event.dataTransfer.setDragImage($this[0], 0, 0);
                });
            },
            onDoubleClick: function(table, self) {
                var expressionCall = table.row(this).data()[4];
                
                self.$.hub.publish("decision-engine:add-function", expressionCall);
            },
            useRowData: function(table, callback) {
                var row = $(this.closest("tr"));
                var rowData = table.row(row).data();
                return function() {
                    callback(rowData);
                };
            },
            addTableFunctionality: function() {
                var self = this;
                var table = self.table;
                
                $(self.$["catalog-search"]).on('input', function() {
                    self.table.search(this.value).draw()
                });
                $("#catalog-table .test").on("click", function(e) {
                    self.useRowData.call(this, table, function(rowData) {
                        var expressionInfo = {
                            code: rowData[5],
                            name: rowData[0],
                            version: rowData[1]
                        }
                        self.$.hub.publish("decision-engine:test-expression", expressionInfo);
                    })();
                });
                $("#catalog-table .preview").on("click", function(e) {
                    self.useRowData.call(this, table, function(rowData) {
                        var expression = {
                            id: rowData[7],
                            name: rowData[0],
                            version: rowData[1],
                            description: rowData[6],
                            source: rowData[5]
                        }
                        self.$.hub.publish("decision-engine:preview-expression", expression);
                    })()
                    
                });
                $("#catalog-table .edit").on("click", function(e) {
                    self.useRowData.call(this, table, function(rowData) {
                        var loadedExpression = new self.Expression(rowData[0], rowData[1], rowData[6], rowData[2], rowData[5], rowData[7]);
                        if (self.dirtyMirror) {
                            self.$.hub.publish("decision-engine:confirmChange-expression", loadedExpression);
                        } else {
                            self.$.hub.publish("decision-engine:set-expression", loadedExpression);
                        }
                    })()
                });
                $("#catalog-table .delete").on("click", function() {
                    self.useRowData.call(this, table, function(rowData) {
                        var loadedExpression = new self.Expression(rowData[0], rowData[1], rowData[6], rowData[2], rowData[5], rowData[7]);
                        self.$.hub.publish("decision-engine:delete-expression", loadedExpression);
                    })();
                });
                $("#catalog-table tbody tr").each(function() {
                    var row = this;
                    self.useRowData.call(this, table, function(rowData) {
                        // check if status is published;
                        if (rowData[2].toLowerCase() === "published") {
                            $(row).on("dblclick", function() {
                                self.onDoubleClick.call(this, table, self)
                            });
                            self.draggable.call(row, table, self)
                        }
                    })();                    
                    
                });
                $('#catalog-table tbody tr td:not(:last-of-type)').each( function() {
                    this.setAttribute( 'title', $(this).text());
                });
            }
        });
    </script>
</dom-module>