<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/event/subscription.html">
<dom-module id="code-mirror">
    <style>
        textarea {
            display: none;
        }
    </style>
    <template>
        <textarea id="mirror-area" cols="30" rows="10"></textarea>
        <event-hub id="hub">
            <event-subscription event="decision-engine:add-function" on-handle="addFunction"></event-subscription>
            <event-subscription event="decision-engine:set-size" on-handle="setSize"></event-subscription>
            <event-subscription event="decision-engine:edit-expression" on-handle="onEditExpression"></event-subscription>
        </event-hub>
    </template>
    <script>
        Polymer({
            is: "code-mirror",
            observers: [
                "dirtyCheck(mirrorText, originalText)"
            ],
            properties: {
                mirrorText: {
                    type: String,
                    notify: true
                },
                dirtyMirror: {
                    type: Boolean,
                    notify: true
                }
            },
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.originalText = self.mirrorText;
                
                return function() {
                    var mirrorArea = document.getElementById("mirror-area");
                    self.mirror = CodeMirror.fromTextArea(mirrorArea, {
                        mode: "text/typescript",
                        lineNumbers: true
                    });
                    self.mirror.on("change", function() {
                        self.mirrorText = self.mirror.getValue();
                    });
                    self.mirror.setSize("100%", "500px");
                    if (self.mirrorText) {
                        self.mirror.setValue(self.mirrorText);
                    }
                    self.mirror.setValue("function RULE_NAME() {" +
                        "\n" +
                        "\n" +
                    "}");
                    self.originalText = self.mirrorText
                }
            },
            addFunction: function(e) {
                console.log(this.mirror.getCursor()); 
                this.mirror.replaceSelection(e.detail);
            },
            setSize: function(data) {
                var height = data.detail.height; 
                var width = data.detail.width
                this.mirror.setSize(width, height);
            },
            setMirrorText: function(text) {
                this.originalText = this.mirrorText = text; 
                this.mirror.setValue(text);
            },
            dirtyCheck: function() {
                this.dirtyMirror = this.mirrorText !== this.originalText;
            },
            resetMirror: function() {
                var newString = this.originalText = this.mirrorText = "function RULE_NAME() {" +
                    "\n" +
                    "\n" +
                "}";
                this.mirror.setValue(newString);
                this.mirror.clearHistory();
                
            },
            onEditExpression: function(event) {
                var newString = this.originalText = this.mirrorText = event.detail.source;
                this.mirror.setValue(newString);
                this.mirror.clearHistory(); 
            }
        });
    </script>
</dom-module>