<link rel="import" href="">
<dom-module id="expression-metadata">
    <style>
        .flex-group {
            flex: 1;
        }
        .flex {
            display: flex;
            margin-bottom: 10px;
        }
        .description {
            max-height: 55px;
            overflow-y: auto;
            overflow-x: hidden;
            word-wrap: break-word;
            text-overflow: ellipsis;
        }
    </style>
    <template>
        <div class="flex">
            <div class="flex-group">
                <h3>Name</h3>
                <div>{{dataCode.name}}</div>
            </div>
            <div class="flex-group">
                <h3>Version</h3>
                <div>{{dataCode.version}}</div>
            </div>
        </div>
        <div>
            <h3>Description</h3>
            <div class="description">{{dataCode.description}}</div>
        </div>
    </template>
    <script>
        Polymer({
            is: "expression-metadata",
            properties: {
                dataCode: {
                    type: Object,
                    notify: true
                }
            }
            
        });
    </script>
</dom-module>