<dom-module id="censor-ssn">
    <template>
        <span on-click="toggleCensor" on-mouseover="showSsn" on-mouseout="hideSsn">
            <span hidden$="{{!censor}}">
                <span>XXX-XX</span>-<span>{{latterSsn}}</span>
            </span>
            <span hidden$="{{censor}}">
                <span>{{formerSsn}}</span>-<span>{{latterSsn}}</span>
            </span>
        </span>
    </template>
    <script>
        Polymer({
            is: "censor-ssn",
            attached : function() {
                this.censor = true;
                this.persist = false;
            },
            toggleCensor: function(e) {
                this.censor = !this.censor
                this.persist = !this.persist;
            },
            setLatterSsn: function() {
                this.latterSsn = this.fullSsn.slice(-4);
            },
            setFormerSsn: function() {
                this.formerSsn = this.fullSsn.slice(0, 3) + "-" + this.fullSsn.slice(3, -4);
            },
            showSsn: function() {
                this.censor = false;
            },
            hideSsn: function() {
                if (!this.persist) {
                    this.censor = true;
                }
            },
            observers: [
                "setLatterSsn(fullSsn)",
                "setFormerSsn(fullSsn)"
            ],
            properties: {
                fullSsn: {
                    type: String,
                    notify: true
                }
            }
        })
    </script>
</dom-module>