<dom-module id="dict-readout">
    <template>
        <dl class="dl-horizontal">
            <template is="dom-repeat" items="{{ dataAsArray }}">
                <dt>{{ item.dt }}</dt>
                <dd>{{ item.dd }}</dd>
            </template>
    </dl>
    </template>
    <script>
        Polymer({
            is: "dict-readout",
            observers: [
                "transformData(readoutData)"
            ],
            properties: {
                dataAsArray: {
                    value: []
                }
            },
            transformData: function(data) {
                var dataAsArray = Object.keys(data).map(function(key) {
                    return {
                        dt: key,
                        dd: data[key]
                    }
                });

                this.set("dataAsArray", dataAsArray);
            },
        })
    </script>
</dom-module>