<dom-module id="dropdown-list">
  <style>
  </style>
  <template>
    <div class="input-group-btn">
      <a class="dropdown-toggle btn btn-primary btn-xs" data-toggle="dropdown" href="javascript:;">
        <i class="fa fa-ellipsis-h"></i>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
        <content></content>
      </ul>
  </div>
  </template>
  <script>
    Polymer({
      is: "dropdown-list",
      properties: {
        type: Array
      }
    })
  </script>
</dom-module>
