<dom-module id="lf-alert">
    <template>
        <div 
            class$="{{ computeClass(alertCfg.type) }}">
            <button 
                class="close" 
                hidden$="{{ alertCfg.isDismissible }}"
                on-tap="handleTap">×</button>
            {{ alertContent }}
        </div>
    </template>
    <script>
        Polymer({
            is: "lf-alert",
            
            properties: {
                alertCfg: {
                    type: Object
                }
            },
            
            handleTap: function() {
                this.fire(this.alertCfg.closeAction);
            },
            
            computeClass: function(alertType) {
                var baseClass = "alert";
                var computedClass;
                
                return computedClass = baseClass + " " + "alert-" + alertType;
            },
        })
    </script>
</dom-module>