<dom-module id="list-pagination">
    <style>
        .active {
            background-color: #E4E4E4 !important;
            border-radius: 2px;
        }
        .pagination > li > a:hover,
        .pagination > li > a:focus {
            color: #696969;
        }
        .pagination > li > a, .pagination > li > span {
            border: none;
        }
    </style>
    <template>
        <ul class="pagination">
            <li>
                <a href="javascript:;" on-click="previousItem">
                    <span class="fa fa-arrow-left"></span>
                </a>
            </li>
            <template is="dom-repeat" items="{{listItems}}">
                <li><a href="javascript:;" on-click="setPage" class$="{{selectorClass(index, selectedItem)}}">
                    <span>{{pageNumber(index)}}</span>
                </a></li>
            </template>
            <li>
                <a href="javascript:;" on-click="nextItem">
                    <span class="fa fa-arrow-right"></span>
                </a>
            </li>
        </ul>
    </template>
    <script>
        Polymer({
            is: "list-pagination",
            attached : function() {
                this.selectedItem = 0;
            },
            properties : {
                listItems: Array,
                selectedItem: {
                    type: Number,
                    notify: true
                }
            },
            pageNumber : function(pageIndex) {
                return pageIndex + 1;
            },
            previousItem : function() {
                if (this.selectedItem > 0) {
                    this.set("selectedItem", this.selectedItem - 1);
                }
            },
            nextItem : function() {
                if (this.selectedItem < this.listItems.length - 1) {
                    this.set("selectedItem", this.selectedItem + 1);
                }
            },
            setPage : function(e) {
                this.set("selectedItem", e.model.index);
            },
            selectorClass : function(index, selectedItem) {
                if (selectedItem === index) {
                    return "active"
                } else {
                    return ""
                }
            }
        })
    </script>
</dom-module>