<link rel="import" href="../services/identity/session-manager.html">
<dom-module id="wizard-step">
    <style>
    </style>
    <template>
        <content id="step-content" hidden></content>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        Polymer({
            is: "wizard-step",
            properties: {
                wizardTitle: {
                    type: String,
                    notify: true
                },
                stepName: {
                    type: String,
                    notify: true
                }
            },
            attached: function() {
                var self = this;
                
                self.async(function() {
                    if (self.domHost.tagName === "WIZARD-VIEW") {
                        // traverse the wizard-view to get index of current wizard step
                        var stepIndex = self.domHost.stepsAdded;
                        var wizardName = self.domHost.wizardName;
                        var token = self.$.session.getSession("token");
                        
                        // use stepIndex to lookup session content from session manager
                        var sessions = self.$.session.getSessionObject(token);
                        if (sessions) {
                            var formData = sessions[wizardName][stepIndex];
                        }
                        
                        // TODO: replace self.innerHTML Polymer.dom(self).getDistributedNodes();
                        self.domHost.addStep(self.wizardTitle, self.innerHTML, formData);
                        self.innerHTML = "";
                    }
                })
            }
        });
    </script>
</dom-module>