<link rel="import" href="session-manager.html">
<link rel="import" href="/components/services/http/request.html">
<dom-module id="identity-service">
    <template>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        Polymer({
            is: "identity-service",
            login: function(username, password) {
                var self = this;

                var securityBase = window.config.services.security;
                var data = {
                    username: username,
                    password: password
                }
                
                return self.$.http.post("/login", data, securityBase)
                    .done(function(token) {
                        self.$.session.set("token", token);
                        window.location = window.config.home;
                    })
            },
            logout: function() {
                var self = this;
                var token = self.$.session.get("token");
                var securityBase = window.config.services.security;
                
                return self.$.http.get("/logout", securityBase)
                    .done(function() {
                        self.$.session.remove("token");
                        self.$.session.remove(token);
                        window.location = window.config.login;
                    })
            },
            requestToken: function(username) {
                var self = this;
                
                var securityBase = window.config.services.security;
                
                return self.$.http.post("/request-token/" + username, "", securityBase);
            },
            resetPassword: function(username, password, token) {
                var self = this
                
                var securityBase = window.config.services.security;
                var data = {
                    username: username,
                    password: password
                }
                
                return self.$.http.post("/reset-password/" + token, data, securityBase);
            }
        })
    </script>
</dom-module>
