<dom-module id="paging-overlay">
    <style>
        .paging-overlay {
            position: relative;
        }
        .paging:hover {
            opacity: 0.8;
        }
        .paging {
            height: 100%;
            position: absolute;
            z-index: 5;
            width: 50px;
            text-align: center;
            opacity: 0;
        }
        .next {
            right: 0;
        }
        .previous .circle {
            right: -15px;
        }
        .next .circle {
            right: 15px;
        }
        .paging .circle {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            height: 50px;
            background: #2f4050;
            width: 50px;
            border-radius: 30px;
            text-align: center;
        }
        .paging.disable-paging .circle {
            opacity: 0.2;
            background-color: #2f4050 !important;
            cursor: default;
        }
        .paging.disable-paging .circle:hover {
            opacity: 0.2;
            background-color: #2f4050 !important;
            cursor: default;
        }
        .circle:hover {
            background-color: #88bf40 !important;
            cursor: pointer;
        }
        .clear {
            clear: both;
        }
        .fa {
            color: white;
        }
        i {
            top: 12px;
        }
    </style>
    <template>
        <div class="overlay-container">
            <div class$="{{showPrevious(pagingState)}}">
                <div class="circle" on-click="previousLoan">
                    <i class="fa fa-arrow-left fa-2x"></i>
                </div>
            </div>
            <div class$="{{showNext(pagingState)}}">
                <div class="circle" on-click="nextLoan">
                    <i class="fa fa-arrow-right fa-2x"></i>
                </div>
            </div>
            <content></content>
        </div>
    </template>
    <script>
        Polymer({
            is: "paging-overlay",
            properties: {
                pagingState: {
                    type: Object,
                    notify: true,
                    value: false
                }
            },
            nextLoan: function() {
                this.fire("nextLoan");
            },
            previousLoan: function() {
                this.fire("previousLoan");
            },
            showPrevious: function() {
                if (this.pagingState == undefined || this.pagingState.loanIndex <= 0) {
                    return "previous paging disable-paging"
                }
                return "previous paging"
            },
            showNext: function() {
                if (this.pagingState == undefined || this.pagingState.loanIndex === this.pagingState.loansLength - 1) {
                    return "next paging disable-paging";
                }
                return "next paging"
            }
        });
    </script>
</dom-module>