<link rel="import" href="tabs/document-manager.html">
<link rel="import" href="tabs/activity-history.html">
<link rel="import" href="tabs/transactions.html">
<link rel="import" href="tabs/scheduled.html">
<link rel="import" href="tabs/customer-info.html">
<link rel="import" href="tabs/fees.html">
<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/event/subscription.html">
<dom-module id="loan-tabs">
	<style>
		.panel-body {
			min-height: 200px;
		}
		
		.nav-tabs {
			margin-bottom: -1px;
		}
	</style>
	<template>
		<div class="row">
			<div class="col-lg-12">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" data-target="#tab-1"><i class="fa fa-history"></i>Activity History</a></li>
                        <li class=""><a data-toggle="tab" data-target="#tab-2"><i class="fa fa-calendar"></i>Schedule</a></li>
                        <li class=""><a data-toggle="tab" data-target="#tab-3"><i class="fa fa-usd"></i>Transactions</a></li>
						<li class=""><a data-toggle="tab" data-target="#tab-5"><i class="fa fa-user"></i>Borrowers</a></li>
						<li class=""><a data-toggle="tab" data-target="#tab-6"><i class="fa fa-dollar"></i>Fees</a></li>
						<!--<li class=""><a data-toggle="tab" href="#tab-6"><i class="fa fa-file-o"></i>Documents</a></li>-->
					</ul>
					<div class="tab-content">
						<div id="tab-1" class="tab-pane animated fadeIn active">
							<div class="panel-body">
								<activity-history current-loan="{{currentLoan}}" class="loan-tab"></activity-history>
							</div>
						</div>
						<div id="tab-2" class="tab-pane animated fadeIn">
							<div class="panel-body">
                                <scheduled-tab class="loan-tab"></scheduled-tab>
							</div>
						</div>
                        <div id="tab-3" class="tab-pane animated fadeIn">
							<div class="panel-body">
                                <transactions-tab class="loan-tab"></transactions-tab>
							</div>
						</div>
						<div id="tab-5" class="tab-pane animated fadeIn">
							<div class="panel-body">
                                <customer-info borrower-list="{{currentLoan.borrowers}}" class="loan-tab"></customer-info>
							</div>
						</div>
						<div id="tab-6" class="tab-pane animated fadeIn">
							<div class="panel-body">
                                <loan-fees class="loan-tab" current-loan="{{ currentLoan }}"></loan-fees>
							</div>
						</div>
						
						<!--<div id="tab-6" class="tab-pane">
							<div class="panel-body">
								<document-manager></document-manager>
							</div>
						</div>-->
					</div>
				</div>
		
			</div>
		</div>
        <event-hub id="hub">
            <event-subscription event="tabs:reset" on-handle="resetTabs"></event-subscription>
        </event-hub>
	</template>
	<script>
		Polymer({
			is: "loan-tabs",
			ready: function() {
				var self = this;

				if (window.jQuery) {
					self.init()();
				} else {
					window.addEventListener("WebComponentsReady", self.init());
				}
			},
			init: function() {
				var self = this;

				return function() {}
			},
			properties: {
				currentLoan: Object
			},
			resetTabs: function() {
				$(".loan-tab").each(function() {
					if (typeof this.resetTab === "function") {
						this.resetTab();
					}
				})
			}
		})
	</script>
</dom-module>